.signature {
  @include clearfix;
  margin: $x-large-spacing 0;
}

.signature__signee {
  border-top: solid 1px black;
  float: left;
  width: 60%;
}

.signature__date {
  border-top: solid 1px black;
  float: right;
  width: 25%;
}
