// Hero Logo Mask Animation
$animation-count: 7;
$animation-delay: 3s;
$animation-interval: (100 / $animation-count);
$animation-total-duration: ($animation-count * $animation-delay);

@keyframes hero-logo-mask-fade {
  0% {
    opacity: 0;
  }
  #{$animation-interval * 0.5}% {
    opacity: 0;
  }
  #{$animation-interval * 0.5}% {
    opacity: 1;
  }
  #{$animation-interval * 1.25}% {
    opacity: 1;
  }
  #{$animation-interval * 1.5}% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.hero-logo-mask {
  animation: hero-logo-mask-fade $animation-total-duration infinite;
  left: 0;
  mask-image: url("/jason-ramirez-logo-white.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  opacity: 0; // Start hidden, animation will make visible
  position: absolute;
  top: 0;
  z-index: 1;
  -webkit-mask-image: url("/jason-ramirez-logo-white.svg");
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;

  @for $i from 1 through $animation-count {
    &:nth-child(#{$i}) {
      animation-delay: 0s +
        ($animation-delay * $i); // 8s offset to wait for rotating text
    }
  }
}

.hero-logo-container {
  position: relative;
  height: 16rem;
  width: 14rem;
}
