// Hero Logo Mask Animation
@keyframes hero-logo-mask-fade {
  0% {
    opacity: 0;
  }
  20%,
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.hero-logo-mask {
  $animation-duration: 3s;
  $animation-count: 9;

  left: 0;
  mask-image: url("/jason-ramirez-logo-white.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  opacity: 0; // Start hidden, animation will make visible
  position: absolute;
  top: 0;
  z-index: 1;
  -webkit-mask-image: url("/jason-ramirez-logo-white.svg");
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;

  @for $i from 1 through $animation-count {
    &:nth-child(#{$i}) {
      animation-delay: $animation-duration * $i;
      animation-name: hero-logo-mask-fade;
      animation-duration: $animation-duration;
      animation-iteration-count: 1;
    }
  }
}

.hero-logo-container {
  position: relative;
  height: 16rem;
  width: 14rem;
}
