@use "sass:math";
@use "variables/variables" as *;

$animation-items: 9;
$animation-delay: 6s;
$animation-interval: 2s;
$animation-duration-as-a-percentage: math.div(100, $animation-items);
$animation-interval-start: $animation-duration-as-a-percentage * 0.25;
$animation-interval-end: $animation-duration-as-a-percentage * 1.25;
$animation-fade-duration: $animation-duration-as-a-percentage * 0.25;
$animation-duration: $animation-interval * $animation-items;

@keyframes hero-logo-mask-fade {
  0% {
    opacity: 0;
  }
  #{$animation-interval-start}%,
  #{$animation-interval-end}% {
    opacity: 1;
  }
  #{$animation-interval-end + $animation-fade-duration}% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.hero-logo-mask {
  animation-name: hero-logo-mask-fade;
  animation-duration: $animation-duration;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  border-radius: $x-large-border-radius;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;

  @for $i from 1 through $animation-items {
    &:nth-child(#{$i}) {
      animation-delay: $animation-delay + ($animation-interval * ($i - 1));
    }
  }
}

.hero-logo-container {
  position: relative;
  height: 16rem;
  width: 14rem;
}
