!.keep
*.DS_Store
*.swo
*.swp
/.bundle
/.env.local
/coverage/*
/db/*.sqlite3
/log/*
/node_modules
/public/system
/public/assets
/tags
/tmp/*
/app/assets/builds/*
!/app/assets/builds/.keep

# Database schema
db/schema.rb

# CircleCI test results
/test_results/*

# Database backups
/.dbbackups/*
