header.site-header
  nav.navigation--left
    ul.navigation__links
      li.navigation__link
        = link_to t(".all_posts"), admins_posts_path
      li.navigation__link
        = link_to t(".new_post"), new_admins_post_path

  nav.navigation--right.navigation--mobile-trigger-icon
    input.navigation__mobile-trigger type="checkbox"
    ul.navigation__links
      li.navigation__link
        = link_to t(".sign_out"), destroy_admin_session_path, method: :delete
