section.content.content--reading
  markdown:
    ### Privacy & Terms Policy

    It is my policy to respect
    your privacy regarding any information I collect from you across my
    website &mdash; http://jasonramirez.com.

    ### Collection

    The only information I ask for and collect is your email.
    It is only collected if you volunteer it.
    I do so to offer email updates to you about new posts I've written.

    I do use third-party cookies from Segment.com to
    collect data around which pages are viewed.

    ### Storage

    I use MailChimp to manage my email updates.
    All data is stored via MailChimps service.
    You can read more about
    [MailChimp's data management here](https://mailchimp.com/legal/).

    I also use Segment to collect and store
    information about which pages visitors on my site are reading.
    You can read more about
    [Segment's data management here](https://segment.com/legal/privacy/).

    ### More Information

    Please know that it is my policy to NEVER
    share any personally identifying information
    publicly or with third-parties, except when required to by law.

    I do link to external sites that I do not operated. Please
    I have no control over the content and practices
    so I can't accept responsibility or liability for their respective
    privacy policies.

    You can unsubscribe from my email updates at any time,
    and your email address will be removed from my Mailchimp
    mailing list..

    If my website is shut down, any data
    that I have collected via Segment.com and Mailchimp
    will be deleted.

    If you have any questions about how I handle user data
    and personal information, feel free to contact me.

    ### Updating

    _This policy is effective as of 1 September 2020._
