section.content.content--reading
  markdown:
    ### Privacy & Terms Policy

    It is my policy to respect
    your privacy regarding any information I collect from you across my
    website &mdash; http://jasonramirez.com.

    ### Collection

    I only ask for your personal information,
    such as email,
    to offer updates about new posts to you.

    I do collect data around which pages are viewed,
    but you remain anonymous and no personal information
    is collected about you.

    ### Storage

    I use MailChimp to manage my email updates.
    All data is stored via MailChimps service.
    You can read more about
    [MailChimp's data management here](https://mailchimp.com/legal/).

    I also use Segment to collect and store
    information about which pages visitors on my site are reading.
    You can read more about
    [Segment's data management here](https://segment.com/legal/privacy/).

    ### More Information

    Please know that it is my policy to NEVER
    share any personally identifying information
    publicly or with third-parties, except when required to by law.

    I do link to external sites that I do not operated. Please
    I have no control over the content and practices
    so I can't accept responsibility or liability for their respective
    privacy policies.

    If you have any questions about how I handle user data
    and personal information, feel free to contact me.

    ### Updated

    _This policy is effective as of 1 September 2020._
