section.content.content--reading.post
  markdown:
    # Privacy & Terms Policy

    It is my policy to respect
    your privacy regarding any information I collect from you across my
    website &mdash; http://jasonramirez.com.

    ## Collection

    I do not ask you for any personal information.

    I do use third-party cookies from Google Analytics to
    collect data around which pages are viewed, if a post is read, etc.

    ## Storage

    Page-view data is collected and stored via Google Analytics.
    You can read more about
    [Google's data management here](https://policies.google.com/privacy).

    ## More Information

    Please know that it is my policy to NEVER
    share any personally identifying information
    publicly or with third-parties, except when required to by law.

    I do link to external sites that I do not operate.
    I have no control over the content and practices
    so I can't accept responsibility or liability for their respective
    privacy policies.

    If my website is shut down, any data
    that I have collected via Google Analytics
    will be deleted.

    If you have any questions about how I handle user data
    and personal information, feel free to contact me.

    ## Updating

    _This policy is effective as of 3 June 2026._
