@use "variables/tokens" as *;
@use "variables/variables" as *;

@mixin flash($background-color, $text-color) {
  background-color: $background-color;
  color: $text-color;
  padding: $base-spacing;
  border-radius: $base-border-radius;
  margin-bottom: $base-spacing;
}
