<div data-js-carousel-actions
  class="carousel__actions work-carousel-actions">
  <a data-js-carousel-previous-card-trigger="true">
    <%= inline_svg "icon-arrow-left.svg" %>
  </a>

  <%= render "carousels/index" %>

  <a data-js-carousel-next-card-trigger="true">
    <%= inline_svg "icon-arrow-right.svg" %>
  </a>
</div>
