<section class="content content--medium">
  <h1>Documents</h1>
  
  <div class="u-margin-bottom-large">
    <span><%= @documents.count %> documents</span>
  </div>

  <% if @documents.any? %>
    <% @documents.each do |document| %>
      <div class="admin-post-item">
        <div class="admin-post-item__title">
          <%= link_to document.humanize, admins_document_path(document),class: "link"%>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>No documents available.</p>
  <% end %>
</section>