<h1>Sample Document</h1>

<p>This is a sample document to demonstrate the dynamic routing system.</p>

<p>Any HTML file you create in this directory will be automatically accessible via:</p>
<p><code>/admin/documents/filename</code></p>

<p>For example, this file is accessible at <code>/admin/documents/page_1</code></p>
