<section class="content content--reading">
  <h2 class="u-margin-bottom-x-large">
    My design values
    influence
    my behavior and decision-making.
  </h2>

  <h3>
    1. Empathetic
  </h3>
  <p>
    Seek to understand your team member's needs.
  </p>

  <h3>
    2. Innovative
  </h3>
  <p>
    Explore outside of your own comfort zone.
  </p>

  <h3>
    3. Sustainable
  </h3>
  <p>
    Work at a pace you can keep up with.
  </p>

  <h3>
    4. Collaborative
  </h3>
  <p>
    Encourage open communication and all opinions.
  </p>

  <h3>
    5. Trusting
  </h3>
  <p>
    Assume best intentions.
  </p>

</section>
