<section class="content content--reading">
  <h3 class="u-margin-bottom-x-large">
    Design values guide a team while they are creating.
  </h3>

  <h3>
    1. Useful
  </h3>
  <p>
    Does it solve a meaningful problem?
  </p>

  <h3>
    2. Empathetic
  </h3>
  <p>
    Do we connect with our user and their needs?
  </p>

  <h3>
    3. Innovative
  </h3>
  <p>
    Have you explored outside of your own comfort zone?
  </p>

  <h3>
    4. Sustainable
  </h3>
  <p>
    Does your design have a positive impact on the planet?
  </p>
</section>
