<section class="content content--reading">
  <h2 class="u-margin-bottom-x-large">
    My design values
    influence
    my behavior and decision-making.
  </h2>

  <ol class="large-ordered-list">
    <li>
      <h3>
        Focus on long term outcomes over short term output.
      </h3>
      <p>
        People work at different speeds and in different ways.
        It's important that we think about milestones
        rather than the day-to-day.
        It's easy to question the output
        someone has while getting
        to a sucessful outcome, but it's hard to challenge a
        a sucesseful outcome.
      </p>
    </li>
    <li>
      <h3>
        Time constraints protect us.
      </h3>
      <p>
        Moving fast can feel like it's in direction competition with quality. 
        Quality usually means time, and care, and attention to detail.
        But if we think about quality as delivering value, 
        then time constraints are our friend.
        By constraining time, you force difficult scoping questions
        and force focus.
      </p>
    </li>
    <li>
      <h3>
        Trust your gut but always explore.
      </h3>
      <p>
        You aren't always starting from scratch.
        Instinct is a powerful tool, and often close to right.
        Leverage your instinct by establishing your first pass quickly
        using your gut. Then, challenge it. Always give yourself time to
        explore new ideas and new approaches.
      </p>
    </li>
    <li>
      <h3>
        Assume best intentions.
      </h3>
      <p>
        Good collaboration relies on trust.
        If you feel that the people you are working with
        have the best intentions, 
        then disgareements become opportunities;
        opinions become inputs.
        If you assume the opposite, than diagreements become conflict,
        opinions become a hinderence. 
      </p>
    </li>
    <li>
      <h3>
        Encourage divergent opinions.
      </h3>
      <p>
        One of the best ways to build conviction
        is to challenge it.
        To build conviction, and to expand your thinking,
        seek ideas that challenge your own.
      </p>
    </li>
    <li>
      <h3>
        Work sustainably and support sustainability.
      </h3>
      <p>
        There is nothing wrong with workign hard, or 
        for that matter working a lot _if_ it's sustainable
        for you and those around you.
        Burnout helps noone, and driving torwards burnout
        sets a poor example. Take breaks. Take vacations.
        Work at the pace that best suits you.
        But take care of yourself and those around you.
      </p>
    </li>
  </ol>
</section>
