= render partial: "works_page_navigation", locals: { \
    previous_target: "tinysplash",
    next_target: "penner",
  }

section.hero.hero--mini.tinysplash
  = image_tag "works/tinysplash-browser.png", alt: "Tinysplash"

section.content.content--reading
  markdown:
    # Tinysplash

    **It's not can we build it, it's should we build it...**

    When building a product around a business, I try to add value with every
    addition or removal.
    It's certainly easier said than done, and ranges in difficulty for different
    stages of a project.
    However, one sure quick way to add value right off the bat is to validate
    that people _want_ your product.
    Granted this isn't always going to be an exact science, but with a few
    tricks we can gauge if our unique value proposition hits, our customer
    segment is responding, and our solution set resonates.

    Applying lean businesses practices by testing the value of a product using
    fake door campaigns, email sign ups and other tools, we are able to get
    validation without spending money.

    # The problem we're solving

    Working as a product consultant,
    I am often work for new start-ups where I am asked to build
    a product that doesn't have any customers.
    Nobody has committed to paying for the product,
    and I am asked to move forward with a belief that if we build it,
    then the customers will buy it.

    That is risky, and it happens everyday.
    I could design and build the best widget grinder in the world,
    but if their isn't a market for widget griding,
    then we are wasting our time.

    The goal of tinysplash, is to give us the information we need to make the
    most important, and very first business decisions or every business:
    should we do it. When building a business, every decision should
    be made based on the best information you have. This is the problem we are
    solving:

    * Too much time and money is wasted on building products that people aren't
      willing to pay for. By uncovering market interest as the first step of
      building a business, we can greatly reduce the risk of wasting countless
      hours and money.

    # Customer Discovery

    I am seeking out 5 entrepreneurs, who had all started at least 1 business,
    and who were still self employed.
    The interview will follow a relatively standard path:

    * Introduction: a chance for us to talk about why we are here, and what we
      are going to do.
    * Customer background: a deeper dive into the interviewee to learn about how
      their past and gather details that could help me understand my early
      adopters in the near future.
    * Proposed problems: lobbing hypothesized problems at the interviewee so see
      if they stick:
      - When you launched your first business, you had little confidence that
        there was a need for your product.
      - When you launched your business, you were not aware of the price that
        cusomters would pay for your service.
      - When you launched your business, you didn't know exactly who your
        customer was, and how to reach them.
    * World view: if any of the problems resonated, we went further to uncover
      how the interviewee currently solves theses problem. If they didn't have
      them, I asked them to explain if how they acquired the information they
      needed to confidently move forward to build their business.

    I am currently in the interview process, and will post my key takeaways here
    when they are ready!

= render partial: "works_navigation", locals: { \
    previous_target: "piggy",
    next_target: "penner",
  }
