section.hero.piggy
  = image_tag "piggy_icon.svg", alt: "Piggy", height: "60%"

section.content--reading
  markdown:
    #Piggy

    Piggy is designed to change the way people use technology to faciliate their
    relationship with money; specifically saving money.

    The internet is an amazing place filled with the most convenient and user
    friendly interactions that encourage you to spend money: one-click
    purchasing, recommendation engines, wish-lists, registries, text based
    purchased confirmations, etc. There are loads of buttons that help you spend
    money. However, there are very few buttons to help you save.

    Piggy aims to bring the "save" button to the forefront. Piggy operates on a
    simple principle, build the habbit of saving money by improving your relationship
    with money on a daily basis.

    The application assumes no judgement. You tell piggy how your self-alloted
    daily spending allowance (not including bills), what bank account you use
    for spending cash, what time you want Piggy to remind you of how much
    spending cash you have left over from the day before, and what savings
    account you want to transfer your money into.

    #Prototype
