section.hero.piggy
  = image_tag "piggy_icon.svg", alt: "Piggy", height: "70%"

section.content--reading
  markdown:
    #Piggy

    Piggy is designed to change the way people use technology to faciliate their
    relationship with money; specifically saving money.

    The internet is an amazing place filled with some of the most user friendly
    and conventient methods to spend money: one-click purchasing, recommendation
    engines, wish-lists, registries, text based purchased confirmations, etc.
    There are loads of buttons that help you spend money. On the reverse side,
    there are very few buttons to help you save. Piggy aims to bring the "save"
    button to the forefront.

    Piggy operates on a simple principle, build the habbit of saving by improving
    your relationship with money on a daily basis. The application  assumes no
    judgement and merely reminds you or what you have asked it to do. You tell
    piggy how much you can spend each day (not including bills), what bank account
    you use for spending cash, what time you want Piggy to remind you of how much
    spending cash you have left over from the day before, and what savings account
    you want to transfer your money into.
