section.hero.hero--mini.tinysplash
  = image_tag "works/tinysplash-logo.svg", alt: "Tinysplash", height: "70%"

section.content.content--reading
  markdown:
    #Tinysplash

    Applying lean businesses practices by testing the value of a product using
    fake door campaigns, email sign ups and other tools, we are able to get
    validation without spending money.

    Check back soon for more project details.

= render partial: "works_navigation", locals: { \
    previous_target: "piggy",
    next_target: "project_underdog",
  }
