<div id="streaming-response-placeholder" class="jason-ai-chat-message jason-ai-chat-message--answer">
  <div class="chat-message__content">
    <span class="error-message"><%= error %></span>
  </div>
</div>
