.u-margin-bottom {
  margin-bottom: $base-spacing;
}

.u-margin-bottom-none {
  margin-bottom: 0;
}

.u-margin-bottom-medium {
  margin-bottom: $medium-spacing;
}

.u-margin-bottom-large {
  margin-bottom: $large-spacing;
}

.u-margin-bottom-x-large {
  margin-bottom: $x-large-spacing;
}
