@use "variables/variables" as *;

.u-margin-top {
  margin-top: $base-spacing;
}

.u-margin-top-none {
  margin-top: 0;
}

.u-margin-top-medium {
  margin-top: $medium-spacing;
}

.u-margin-top-large {
  margin-top: $large-spacing;
}

.u-margin-top-x-large {
  margin-top: $x-large-spacing;
}

.u-margin-top-xx-large {
  margin-top: $xx-large-spacing;
}
