@use "variables/tokens" as *;
@use "variables/variables" as *;

body,
html {
  background-color: $base-background-color;
  font-size: $base-font-size * 0.9;
  margin: 0;
  overflow: auto;
  overflow-x: hidden;
  width: 100vw;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;

  @media (min-width: $large-screen) {
    font-size: $base-font-size;
  }

  @media (min-width: $x-large-screen) {
    font-size: $base-font-size * 1.1;
  }

  @media (min-width: $xx-large-screen) {
    font-size: $base-font-size * 1.2;
  }
}
