table {
  background-color: $base-background-color;
  border-collapse: collapse;
  border: $base-border;
  font-family: $table-font-family;
  font-feature-settings: "kern", "liga", "tnum";
  font-size: $base-font-size;
  margin-bottom: $medium-spacing;
  width: 100%;
}

th {
  background-color: $base-background-color;
  font-weight: 600;
  padding: $small-spacing;
  text-align: left;
  white-space: nowrap;
}

td {
  padding: $small-spacing;
  text-align: center;
}

tr,
td,
th {
  vertical-align: middle;
}

tr:nth-child(odd) {
  background-color: $input-background-color;
}
