@use "variables/tokens" as *;
@use "variables/variables" as *;
@use "sass:color";

table {
  background-color: $base-background-color;
  border-collapse: collapse;
  border: 1px solid $base-border-color;
  font-family: $table-font-family;
  font-feature-settings: "kern", "liga", "tnum";
  font-size: $base-font-size;
  margin-bottom: $medium-spacing;
  overflow-x: hidden;
  width: 100%;
}

th {
  background-color: $base-background-color;
  border-bottom: $base-border-width $base-border-style $base-border-color;
  font-weight: 400;
  font-size: $small-font-size;
  padding: $small-spacing;
  text-align: left;
  white-space: nowrap;
}

td {
  padding: $small-spacing;
  text-align: center;
  white-space: nowrap;
}

tr,
td,
th {
  font-size: $small-font-size;
  text-align: left;
  vertical-align: middle;

  &:not(:last-child) {
    border-right: $base-border-width $base-border-style $base-border-color;
  }
}

tr:nth-child(odd) {
  background-color: color.change($base-border-color, $alpha: 0.02);
}
