@use "variables/tokens" as *;
@use "variables/variables" as *;
@use "variables/colors" as *;
@use "sass:color";

a {
  color: $base-font-color;
  text-decoration-color: $action-color;
  text-decoration-line: underline;
  text-decoration-thickness: $link-text-decoration-thickness;
  text-decoration-skip-ink: none;
  text-underline-offset: $link-text-underline-offset;
  transition: all $base-duration $base-timing;

  &:hover {
    cursor: pointer;
  }

  &:active,
  &:focus,
  &:hover {
    color: $action-color;
    outline: none;

    * {
      transition: all $base-duration $base-timing;
    }

    svg {
      path {
        transition: all $base-duration $base-timing;
      }
    }
  }

  * {
    text-decoration-thickness: $link-text-decoration-thickness;
  }

  svg {
    path {
      transition: all $base-duration $base-timing;
    }
  }
}

blockquote {
  border-top: $base-border-style $base-border-width $base-border-color;
  border-bottom: $base-border-style $base-border-width $base-border-color;
  font-style: italic;
  margin: $large-spacing 0;
  padding: $large-spacing 0 $base-spacing;
}

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: $base-font-size;
  line-height: $base-line-height;
}

code {
  padding: 0 0.5rem;
  background-color: $code-background-color;
  color: $code-font-color;
  border: $base-border-style $base-border-width $code-border-color;
  font-family: $code-font-family;
  font-size: $code-font-size;

  pre & {
    background-color: transparent;
    border: none;
    line-height: $code-line-height;
    padding: 0;
  }
}

// Typography
del {
  display: inline-block;
  padding: 0 $base-spacing;
  position: relative;

  &::before {
    background-color: color.adjust($mirage, $lightness: 5%);
    bottom: 2px;
    content: "";
    left: 0;
    padding: 0 $base-spacing;
    position: absolute;
    right: 0;
    top: 2px;
  }
}

figcaption {
  color: $secondary-font-color;
  font-size: $small-font-size;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  letter-spacing: -0.0125em;
}

h1 {
  font-size: 2.25rem;
  font-weight: $title-font-weight;

  @media (min-width: $medium-screen) {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.65rem;
}

h3 {
  font-size: $reading-font-size;
}

hr {
  border-bottom: $base-border-style $base-border-width $base-border-color;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img {
  margin: 0;
  max-width: 100%;
}

ol {
  list-style-type: decimal;
  padding-left: 2rem;
  line-height: $reading-line-height;
}

p {
  margin: 0 0 $base-spacing;
}

pre {
  background-color: $code-background-color;
  line-height: $code-line-height;
  padding: $base-spacing;
}

mark {
  background: $mark-background-color;
  color: $mark-color;
}

time {
  display: block;
  font-family: $heading-font-family;
  font-size: $small-font-size;
  margin-bottom: 0;
}

ul {
  list-style-type: "-  ";
  padding-left: 1rem;
}
