<section class="history">
  <% history_item_list.each_with_index do |history_item, index| %>
    <section class="history-item">
      <div class="history-item__filler"></div>

      <div class="history-item__image">
       <%= image_tag "history/#{history_item[0]["image"]}" %>
      </div>

      <div class="history-item__details">
        <h2>
          <%= history_item[0]["title"] %>
        </h2>

        <span>
          <%= history_item[0]["date"] %> &mdash; <%= history_item[0]["organization"] %>
        </span>
      </div>
    </section>

    <% unless index == history_item_list.size - 1 %>
      <div class="leading-line"></div>
    <% end %>
  <% end %>
</section>
