<section class="hero">
  <div class="hero_filler"></div>

  <h1 class="hero_title">
    Hello 👋
  </h1>

  <div class="hero_filler">
    <div class="hero_leading-line"></div>
  </div>
</section>

<%= render "history" %>
