section.content
  - if @posts.present?
    table
      - @posts.each do |post|
        tr.admin-post-item
          td.admin-post-item__title
            = link_to edit_admins_post_path(post) do
              h3
                = post.title

          - if post.published
            td.admin-post-item__published-status
              | Published
          - else
            td.admin-post-item__published-status.not-published
              | Not Published

          td.admin-post-item__time
            time
              = post.pretty_published_date

          td.admin-post-item__delete
            = link_to [:admins, post],
              class: "button button--link",
              method: :delete,
              data: {confirm: "Are you sure?"} do
              = t(".delete_post")
