<turbo-stream action="replace" target="post_flash">
  <template>
    <div class="flashes" id="post_flash">
      <div class="flash-notice">
        <%= inline_svg "icon-checkmark.svg" %>
        <%= t("admins.flash.created") %>
      </div>
    </div>
  </template>
</turbo-stream>

<turbo-stream action="update" target="published_chip">
  <template>
    <% if @post.published %>
      <div class="admin-chip admin-chip--published">
        Published
      </div>
    <% else %>
      <div class="admin-chip admin-chip--not-published">
        Not Published
      </div>
    <% end %>
  </template>
</turbo-stream>
