- amount_of_prepayment = "900"
- arbitration_location = "New York City"
- client_address = "___________________________"
- client_name = "Jessica Zitter"
- consultant_address = "103 Havemeyer Street. #3A. Brooklyn NY 11211"
- jurisdiction_location = "New York City"
- payment_terms = "30 days"
- rate = "$150 per hour"
- services = "design and development services"

.cover
  .cover__content
    = inline_svg "landing_heading.svg", alt: "Simple"
    p
      | Prepared by Jason Ramirez
      br
      | for #{client_name}

markdown:
  ## Overview

  #{client_name} ("Client") is hiring
  Jason Ramirez ("Consultant") to
  #{services}
  This overview is an outline, not a statement of work.

  ### Process

  * I work in iterations.
    This includes product design, application development, usability testing,
    or other necessary tasks.
  * Throughout the project, Client and Consultant will work together to establish
    priority for the features of the project.
  * I work based on my time, and try to work on the most important aspect of the
    business at all times.

  ### Approximate Scope

  The approximate scope for this project is outlined below as a list of
  possible deliverables. We believe, but cannot guarantee, that these
  deliverables can be completed within 6 to 8, 8 hour weeks.

  * Wireframes for Client review.
  * Visual designs for pages such as: home/landing, book title, about, articles,
    events, press, resources, twitter.
  * Development for pages such as: home/landing, book title, about, articles,
    events, press, resources, twitter.
  * Setup of Client's domain, and deployment of production code to the agreed
    upon hosting company.
  * Mentoring time dedicated towards establishing metrics, and learning how to
    use analysis tools.
  * Content management system tutorial for Client.


  ### Software Development Contract

  Terms of Agreement

  ### 1. Authorization

  This Software Development Contract (the "Contract") is between #{client_name}
  ("Client"), located at #{client_address} and Jason Ramirez,
  ("Consultant"), located at #{consultant_address}, as an independent
  contractor for the specific purpose of providing software design and
  development services. (the "Project").

  ### 2. Payment Terms / Work Flow

  Consultant's rates for work performed under this Contract
  are **#{rate}**.

  Payment for **#{amount_of_prepayment}** of effort is required to
  commence work. After #{amount_of_prepayment}, Consultant will
  invoice the Client once at the end of each week ("Iteration").

  Payments will be due to Consultant within #{payment_terms}
  of receipt of each invoice.

  If Client payment is not made within #{payment_terms}
  following receipt of an invoice,
  Consultant reserves the right to stop work.

  ### 3. Warranties

  Consultant warrants to Client as follows:

  a. Work on the Project shall be performed with reasonable care, consistent
  with applicable professional and industry standards and in compliance with
  all applicable laws. This Contract and Consultant's performance of work on the
  Project will not breach any obligations of Consultant to any other party.

  b. Consultant owns all the rights that Consultant is granting or assigning to
  Client under this Contract. Neither the work performed on the Project nor any
  work product created, developed or delivered by Consultant will infringe any
  patents, copyrights, trademarks, trade secrets or other rights of any third
  party; provided that Consultant makes no warranties regarding any information
  or materials supplied by Client and incorporated into the work on the
  Project.

  ### 4. Copyrights and Trademarks

  Client represents to Consultant and unconditionally guarantees that any
  elements of text, graphics, photos, designs, or other artwork, any of which
  may constitute copyrighted or trademarked material, which is provided to
  Consultant for inclusion in the Project, are owned by the Client or that the
  Client has permission from the owner of such elements to use such elements in
  the Project.

  ### 5. Limited Liability

  In no event shall Consultant or Client or either of their affiliates,
  shareholders, officers, or employees, be liable for any consequential,
  exemplary or punitive damages whatsoever in connection with claims arising
  under or relating to this contract or the project, whether based upon a claim
  or action of contract, warranty, negligence, strict liability, or any other
  legal theory or cause of action, even if advised of the possibility of such
  damages.

  Notwithstanding the foregoing, neither Consultant's nor Client's aggregate
  liability for all cases and controversies arising out of this contract,
  whether in contract, tort, or otherwise, shall exceed the aggregate amount
  actually invoiced by Consultant or paid by Client within the twelve (12)
  months preceding commencement of any such action.

  ### 6. Indemnification

  Client agrees that it shall defend, indemnify, save and hold the Consultant
  harmless from any and all demands, liabilities, losses, costs and claims,
  including reasonable attorney's fees associated with the Consultant's work on
  the Project. This includes liabilities asserted against the Consultant, its
  subcontractors, agents, officers and employees, that may arise or result from
  any service provided or performed or agreed to be performed or any product
  sold by the Client, its agents, employee or assigns. Such indemnification
  shall not apply to any demands, liabilities, losses, costs and claims arising
  from the Consultant's breach of warranty, gross negligence or unlawful
  actions.

  Client agrees to defend, indemnify and hold harmless the Consultant against
  liabilities arising out of any injury to person or property caused by any
  products or services sold or otherwise associated with Consultant's work on
  the Project. This includes infringing on the proprietary rights of a third
  party, copyright infringement, and delivering any defective product or
  misinformation which is detrimental to another person, organization, or
  business. Such indemnification shall not apply to any claims arising out of
  the Consultant's gross negligence or unlawful actions.

  Consultant agrees to defend, indemnify and hold harmless the Client against
  liabilities for infringing on the proprietary rights of a third party,
  copyright infringement, and delivering any defective product or
  misinformation which is detrimental to another person, organization, or
  business. Such indemnification shall not apply to any claims arising out of
  the Client's gross negligence or unlawful actions.

  ### 7. Ownership

  Upon receipt of payment for the Iteration, Client shall own and Consultant
  hereby assigns to Client all right, title and interest in and to all work
  product created, prepared or developed by Consultant in the course of
  completing the Iteration, and any patents, copyrights and other intellectual
  property embodied in the work product, free of all liens, claims,
  encumbrances and licenses; provided that all work product subject to
  copyright shall be considered work made for hire by Consultant for Client to
  the extent permitted by law.

  ### 8. Credit

  Consultant shall have the right to name Client in a list of Consultant's
  clients, to include materials (including, but not limited to, sketches,
  mockups, wireframes, logos, brand assets, visual work in progress) from the
  Project in the Consultant's portfolio, and to include descriptions of and
  references to the Project in materials or announcements provided by
  Consultant to press and media outlets and social media.

  ### 9. Cancellation

  Either party may cancel this Contract for any reason upon 15 days' written
  notice. In the event the Project is postponed or canceled at the request of
  the Client after Consultant has begun work, the Consultant shall have the right
  retain the initial payment. In the event this amount is less than the cost of
  Consultant's time and expenses already incurred, Consultant shall invoice
  Client for the remaining amount, such invoice to be paid according to the
  terms hereof.

  ### 10. Arbitration

  Any disputes arising out of this Contract shall be submitted to binding
  arbitration before a mutually agreed upon Arbitrator suitable to both
  parties. Such arbitration will take place in #{arbitration_location}
  Any arbitration proceeding arising under this Contract shall be governed
  by the rules of the American Arbitration Association.

  The Arbitrator's award shall be final, and judgment may be entered in any
  court sitting in jurisdiction in the #{jurisdiction_location}

  Client shall pay all arbitration and court costs, reasonable attorney's fees
  and legal interest on any award or judgment in favor of the Consultant.
  Consultant shall pay all arbitration and court costs, reasonable attorney's
  fees and legal interest on any award or judgment in favor of the Client.

  ### 11. Governing Law

  This Contract shall be governed and construed in accordance with the laws of
  #{jurisdiction_location}.

  ### 12. Entire Understanding

  This Contract constitutes the entire agreement between the Consultant and the
  Client regarding this Project. It becomes effective only when signed by both
  parties. It is the spirit of this Contract that this will be a mutually
  beneficial arrangement for Client and Consultant.

  Both parties warrant that they have read and understand the terms set forth
  in this Contract.

.signature
  .signature__signee
    small
      | Jason Ramirez
  .signature__date
    small
      | Date

.signature
  .signature__signee
    small
      | Client
  .signature__date
    small
      | Date
