section.content.content--reading
  h2
    = t("titles.followers.new")

  = simple_form_for @follower do |form|
    = form.input :email, label: t(".email"), placeholder: "Your Email"
    = form.association :interests, as: :check_boxes, label: t(".interests")
    = form.submit class: "button"
