.admin-post-item {
  align-items: center;
  display: flex;
  margin-bottom: $base-spacing;
}

.admin-post-item__title {
  flex-grow: 1;
  font-size: $base-font-size;

  .not-published & {
    color: rgba($base-font-color, 0.3);
  }
}

.admin-post-item__published-status {
  align-items: center;
  display: flex;
  width: 2rem;
}

.admin-post-item__time {
  width: 4rem;

  .not-published & {
    color: rgba($base-font-color, 0.3);
  }
}

.admin-post-item__delete {
  align-items: center;
  display: flex;
  margin-bottom: 0;
  padding: 0;
}
