.admin-post-item {
  align-items: center;
  display: flex;
  margin-bottom: $base-spacing;
}

.admin-post-item__title {
  flex-grow: 1;

  .not-published & {
    color: rgba($base-font-color, 0.3);
  }
}

.admin-post-item__published-status {
  width: 7rem;

  .not-published & {
    color: rgba($base-font-color, 0.3);
  }
}

.admin-post-item__time {
  width: 4rem;

  .not-published & {
    color: rgba($base-font-color, 0.3);
  }
}

.admin-post-item__delete {
  width: 4rem;
}
