.admin-floating-action {
  @include position(fixed, null $base-spacing $base-spacing null);
}

.admin-floating-action__button {
  appearance: none;
  align-items: center;
  background: $action-color;
  color: $button-color;
  display: flex;
  font-family: $heading-font-family;
  font-size: 2rem;
  font-weight: $heading-font-weight;
  height: 3rem;
  justify-content: center;
  margin-top: $small-spacing;
  width: 3rem;

  &:active,
  &:focus,
  &:hover {
    background-color: darken($button-background-color, 10%);
    cursor: pointer;

    svg {
      path {
        transition: all $base-duration $base-timing;
        fill: $button-color;
      }
    }
  }

  svg {
    height: 1.5rem;
    width: 1.5rem;

    path {
      fill: $button-color;
    }
  }
}
