.admin-post-meta {
  margin-bottom: $base-spacing;

  @include media($large-screen) {
    margin-bottom: $large-spacing;
  }

  * {
    display: inline-block;
  }

  input,
  select {
    margin: 0;
  }

  label {
    margin: 0 $small-spacing 0 0;
  }
}
