.admin-post-form {
  input[type="text"],
  textarea {
    max-width: 100%;
  }

  input[name="post[title]"] {
    font-family: $heading-font-family;
    font-size: 2rem;
    font-weight: bold;
    padding: $base-spacing;
    position: relative;
  }

  textarea {
    font-family: $reading-font-family;
    font-size: $base-font-size;
    line-height: $reading-line-height / 1.2;
    min-height: 25rem;
    padding: $base-spacing;
  }
}
