.admin-post-form {
}

.admin-post-form__title {
  background-color: transparent;
  font-family: $heading-font-family;
  font-size: $base-font-size;
  margin-top: $large-spacing;
  padding: 0;
}

.admin-post-form__body {
  background-color: transparent;
  font-family: $reading-font-family;
  font-size: $base-font-size;
  line-height: $reading-line-height / 1.2;
  padding: 0;
  resize: none;

  @include media($medium-screen) {
    font-size: $reading-font-size;
    line-height: $reading-line-height;
  }
}
