.admin-post-action {
  background-color: $base-background-color;
  display: flex;
  margin-bottom: $large-spacing;
  padding: $x-small-spacing 0;
  position: sticky;
  top: 0px;
  z-index: $z-index-highest;
}
