<section class="content content--reading">
  <h1>
    Principles
  </h1>

  <h3>
    1. Hierarchical
  </h3>
  <p>
    Do the elements shows their importance or relationship to one another?
  </p>

  <h3>
    2. Simple
  </h3>
  <p>
    Can you delete anything and still convey the purpose?
  </p>

  <h3>
    3. Unified
  </h3>
  <p>
    Do all elements work together harmoniously to create a cohesive whole?
  </p>

  <h3>
    4. Pretty
  </h3>
  <p>
    Does it appeal to you and your customer visually?
  </p>
</section>
