<section class="content content--reading">
  <h2 class="u-margin-bottom-x-large">
    My design principles
    influence
    the solutions I create.
  </h2>

  <ol class="large-ordered-list">
    <li>
      <h3>
        Useful
      </h3>
      <p>
        Does it solve a meaningful problem?
      </p>
    </li>

    <li>
      <h3>
        Hierarchical
      </h3>
      <p>
        Do the elements shows their importance or relationship to one another?
      </p>
    </li>

    <li>
      <h3>
        Simple
      </h3>
      <p>
        Can you delete anything and still convey the purpose?
      </p>
    </li>

    <li>
      <h3>
        Unified
      </h3>
      <p>
        Do all elements work together harmoniously to create a cohesive whole?
      </p>
    </li>

    <li>
      <h3>
        Pretty
      </h3>
      <p>
        Does it appeal to you and your customer visually?
      </p>
    </li>
  </ol>
</section>
