<section class="content content--reading">
  <h2 class="u-margin-bottom-x-large">
    My design principles
    influence
    the solutions I create.
  </h2>

  <h3>
    1. Useful
  </h3>
  <p>
    Does it solve a meaningful problem?
  </p>

  <h3>
    2. Hierarchical
  </h3>
  <p>
    Do the elements shows their importance or relationship to one another?
  </p>

  <h3>
    3. Simple
  </h3>
  <p>
    Can you delete anything and still convey the purpose?
  </p>

  <h3>
    4. Unified
  </h3>
  <p>
    Do all elements work together harmoniously to create a cohesive whole?
  </p>

  <h3>
    5. Pretty
  </h3>
  <p>
    Does it appeal to you and your customer visually?
  </p>
</section>
