<section class="content content--reading">
  <h1>
    Values
  </h1>

  <h3>
    Useful
  </h3>
  <p>
    Does it solve a meaningful problem?
  </p>

  <h3>
    Empathetic
  </h3>
  <p>
    Do we connect with our user and their needs?
  </p>

  <h3>
    Simple
  </h3>
  <p>
    Can you delete anything and still convey the purpose?
  </p>

  <h3>
    Innovative
  </h3>
  <p>
    Have you explored outside of your own instinct?
  </p>

  <h3>
    Sustainable
  </h3>
  <p>
    Does your design have a positive impact on the planet?
  </p>

  <hr/>

  <h1>
    Principles
  </h1>

  <h3>
    Hierarchy
  </h3>
  <p>
    Elements shows their importance or relationship to one another.
  </p>

  <h3>
    Unity
  </h3>
  <p>
    All elements work together harmoniously to create a cohesive whole.
  </p>
</section>
