<section class="content content--reading">
  <h1>
    Sorry, 500
  </h1>

  <p>
    Oh dang. I messed up. We're experiencing an
    internal server error. <strong>Best I can suggest is to reload
    the page, or try again later.</strong>
  </p>

  <div class="u-padding-navigation-height"></div>
</section>
