<section class="content content--reading">
  <h1>
    Ha. 🚫 Not allowed.
  </h1>

  <p>
    Maybe you typed in the wrong link? Maybe you're trying to hack me?
    Either way, I trust you. But this page isn't meant to be seen by you.
    There's cooler stuff to see on this site.
  </p>
  <div class="u-padding-navigation-height"></div>
</section>
