@use "colors" as *;
@use "sass:color";

@forward "./tokens" with (
  $action-color: $ultramarine-blue,
  $alert-background-color: $salmon,
  $alert-color: $warm-white,
  $base-background-color: $mirage,
  $base-font-color: $warm-white,
  $base-border-color: color.adjust($warm-white, $alpha: -0.925),
  $base-heading-font-color: $warm-white,
  $button-background-color: $ultramarine-blue,
  $button-color: $warm-white,
  $blockquote-color: $warm-white,
  $code-font-color: $cream,
  $code-background-color: color.adjust($warm-white, $alpha: -0.95),
  $code-border-color: color.adjust($warm-white, $alpha: -0.95),
  $error-background-color: $salmon,
  $error-color: color.adjust($salmon, $lightness: + 1%),
  $heading-font-color: $warm-white,
  $input-background-color: color.adjust($warm-white, $alpha: -0.9),
  $mark-background-color: $mirage,
  $mark-color: $warm-white,
  $notice-background-color: $forest-green,
  $notice-color: color.adjust($forest-green, $alpha: -0.1),
  $secondary-font-color: color.adjust($warm-white, $alpha: -0.4)
);
