// Font families
$base-font-family: "Calibre", sans-serif;
$heading-font-family: "Averta", sans-serif;
$form-font-family: "Averta", sans-serif;
$table-font-family: "Averta", sans-serif;
$button-font-family: $heading-font-family;
$blockquote-font-family: "Charter", serif;
$code-font-family: "Inconsolata", sans-serif;
$reading-font-family: "Charter", serif;

// Font Sizes
$base-font-size: 1rem;
$small-font-size: 0.85rem;
$reading-font-size: 1.25rem;
$code-font-size: 1rem;
$blockquote-font-size: 2.5rem;
$button-font-size: 1rem;

// Font Weights
$button-font-weight: bold;
$heading-font-weight: bold;
$reading-font-weight: 400;

// Line height
$base-line-height: 1.6;
$blockquote-line-height: 1.35;
$button-line-height: 2;
$code-line-height: 1.1;
$heading-line-height: 1.35;
$reading-line-height: 1.6;
$sky-label-line-height: 1.6;

// Other Sizes
$base-border-radius: 3px;
$reading-paragraph-spacing: 1.5rem;
$navigation-height: 8rem;
$navigation-height-mobile: 5rem;

// Spacing
$xx-small-spacing: 0.25rem;
$x-small-spacing: 0.5rem;
$small-spacing: 1rem;
$base-spacing: 1.5rem;
$medium-spacing: 2.25rem;
$large-spacing: 3rem;
$x-large-spacing: 6rem;
$xx-large-spacing: 9rem;

// Colors
$base-background-color: map-get($colors, primary);
$base-font-color: map-get($colors, secondary);
$base-border-color: map-get($colors, tertiary);
$secondary-font-color: rgba(map-get($colors, secondary), 0.6);
$base-heading-font-color: map-get($colors, secondary);
$blockquote-color:  map-get($colors, secondary);
$code-font-color: #f5e3b5;
$code-background-color: lighten($mirage, 3%);
$code-border-color: lighten($mirage, 5%);
$heading-font-color: map-get($colors, secondary);
$mark-background-color: map-get($colors, primary);
$mark-color: map-get($colors, secondary);

// Colors for all themes
$action-color: $ultramarine-blue;
$alert-color: map-get($colors, secondary);
$button-background-color: $action-color;
$button-color: $warm-white;
$error-color: $tutu;
$notice-color: $forest-green;

// Unicode Characters
$hamburger-icon: "\2630";

// Links
$link-text-decoration-thickness: 0.1em;
$link-text-underline-offset: 0.15em;

// Animations
$base-duration: 250ms;
$base-timing: ease;

// Borders
$base-border: 1px solid $base-border-color;
$code-border: 1px solid $code-border-color;

// Forms
$input-background-color: map-get($colors, quaternary);
$input-padding: 1rem;
$sky-labels-animation-duration: $base-duration;

// Z-index
$z-index-flashes: 2;
$z-index-highest: 1;
$base-z-index: 0;
$z-index-below-content: -1;

// Breakpoints
$x-small-screen: 320px;
$small-screen: 420px;
$reading-screen: 540px;
$medium-screen: 600px;
$large-screen: 900px;
$x-large-screen: 1240px;
$xx-large-screen: 1560px;
