section.content.content--reading
  h1
    = t(".title")

  markdown:
    When creating products or features that attempt to solve problems, I follow
    the
    [Agile Methodology](https://en.wikipedia.org/wiki/Agile_software_development)
    and with a focus on the
    [Lean](https://en.wikipedia.org/wiki/Agile_software_development)
    framework.

    My prefernce for Agile has come from years of experience
    creating digital products, and seeing a higher
    success rate in teams that
    focus on responding to change, rapid releases, and iteration,
    over following a dedicated long-term plan,
    and releasing when feature complete.

    The Lean framework is my guiding light for new projects,
    and I borrow a lot of the same principles when expanding existing products
    or creating new features.
    Lean prioritizes learning, team empowerment, and eliminating waste
    among other things.
    These principles allow for
    team member autonomy, fast iteration, inexpensive experiments,
    and amplified learning - which inevitably lead to a greater opportunity to
    fail fast and abandon the project,
    pivot to a new idea,
    or re-invest time and energy to expand the project;
    three paramount decisions that should be considered as often as possible.

    Please view my [works]("/") to read some case studies that employ my design
    process.
