section.content.content--reading
  /= render "components/table_of_contents",
  /    sections: [ \
  /      "lean_and_agile",
  /      "process",
  /      "identify_the_problem",
  /      "validate_the_problem" \
  /    ]

  section#lean_and_agile
    markdown:
      # Lean and Agile

      My preference for [Agile][agile] has come from my experience
      creating digital products. I have seen a higher success rate in teams that
      focus on responding to change, rapid releases, and iteration rather than
      religiously following a long term plan and shipping only when feature
      complete.

      > If you are not embarrassed by the first version of your product, you’ve
      launched too late. - Reid Hoffman (fouder of Linkdin)

      The [Lean framework][lean] is my guiding light for solving problems. Lean
      prioritizes **learning**, **team empowerment**, **eliminating waste** and
      **fast delivery** among other things. Focusing on these principles creates
      the best atmosphere for discovering the right solutions to problems with
      the least amount of technical debt and wasted time and money.

      [agile]:https://en.wikipedia.org/wiki/Agile_software_development
      [lean]:https://en.wikipedia.org/wiki/Lean_software_development

  section#process
    markdown:
      # Process

      Possibly the best way I can explain my process is to build a product with
      you. Lets create a create a product together using my process
      and go into detail for each step.

    ol
      li
        = link_to "#identify_the_problem", "data-smooth-scroll": true do
          | Identify the problem
      li
        | Validate the people have this problem (discover market)
      li
        | Understand
      li
        | Brainstorm
      li
        | Pick a viable solution that is the riskiest (business decisions hinge on it)
      li
        | Prototype
      li
        | Test with users
      li
        | Build backlog
      li
        | User test
      li
        | User interviews / Feedback from users
      li
        | Discover new problem

  section#identify_the_problem
    markdown:
      # Identify the problem

      Great products provide solutions to the pain that people encounter.  The
      first step to creating a viable product is to identify the true pain point
      that a person is suffering though.  More often then not, uncovering the
      pain starts serendipitously, but takes a bit of digging to uncover.

      I have a dear friend Harold, a 36 year old in-house graphic designer, with
      kids, ages 2 and 4.  He was recently telling me about an annoyance that he
      commonly encounters.  Around lunch time, Harold gets hungry, and since he
      doesn't have time to make lunch before work eveyday, he ends up ordering
      food online.  Harold uses Foodspot.com to order online as it is the only
      online service in the area with a range of delivery options.

      Lately, harold has been having trouble finding the food he wants.  Harold
      is focusing on trying to eat healthfully.  He was telling me how he goes
      on Foodspot.com looking for a nice salad.  He looks around, but can't find
      anything in his area.  He decides that instead he will go for a juice and
      a wrap instead.  He searches, but nothing in his area.  Finally, he ends
      up getting tacos or a chicken sandwhich because he doesn't have the time
      to peruse the available options.

      This is a common problem for Harold, he never seems to be able to find the
      food he wants on Foodspot.com during his busy day.  He now ends up
      settling for unhealthy food!

      Lets analyze this a little further. Harold is too busy to always make
      lunch before work, so he relies on delivery while at work. At lunch time
      Harold seeks out a specific type of food that fits 2 criteria: it is
      healthy, and available in his area for delivery.  Harold ends up settling
      for something very unhealthy after a few attempts and failures.

      The **pain** for Harold, is that he can't find healthy food delivery
      options around him, and ends up having to eat unhealfully a few days a
      week.

      Listening to Harold, and analyzing his comments, there are several
      potential **problems** that might be causing Harold's pain:

      * Foodspot.com doesn't have healthy options in Harold's area.
      * Harold is too busy to take the time to find or make healthy food.
      * Harold isn't aware of what healthy foods are avaiable to him.
      * Harold doesn't know what is, or is not, a healthy food.

      On certain occasions, the actual cause of the pain can be hidden, because
      the pain itself is masked by context. If we look even further into Harold,
      we _might_ be able to uncover different problems by understanding his root
      goal.

      As outlined in [The Design of Everyday Things][design_of], Don Norman
      shows us how to uncover a root problem by looking at the goals of the
      person facing that problem.  His example sets the stage with a person
      sitting in a chair reading:  The light in the room is fading, so the
      person needs more light. However, getting that light is a sub-goal. Why
      does he need more light? He needs light so he can read his cook book.  He
      is reading a cook book to finish the dinner.  He is cooking dinner,
      because he is hungry.  In this example, we may have initially thought that
      the initial goal was more light, but we have seen that it is actually to
      make dinner.

      Lets apply the "why? why? why?" approach to Harold and see if we uncover
      anything useful.

      Harold fires up Foodspot.com and starts searching for a food.  Why?
      Harold is busy at work, wasn't able to make lunch this morning, and he is
      now hungy. Harold looks on Foodspot.com for a salad.  Why? Becuase Harold
      wants to eat healthfully.  Why? According to Harold, he is trying to lose
      15 pounds in the next 4 months.  Why? Harold has been invited to a black
      tie event to receive an award, and he needs to wear a tuxedo, and he just
      so happens to own one that he doesn't fit into.

      As we go though this, we see that Harold's root goal is to fit into a
      tuxedo. It is tied to to him looking for a Salad on Foodspot.com, but is
      not immediately identifyable.

      At his point we could even add a couple more
      potential pain points and problems for Harold along his journey

      I go through this exercise when I first feel/hear about a pain point that
      a person has. Harold may have said to me "Dude, there are no healthy
      options on Foodspot.com!". We could have gone off on a path to create our very
      own Grubub with healthy options, and a week into it, realize that we are
      barking up the wrong tree.

      [design_of]:http://www.amazon.com/gp/product/0465050654/ref=pd_lpo_sbs_dp_ss_1?pf_rd_p=1944687602&pf_rd_s=lpo-top-stripe-1&pf_rd_t=201&pf_rd_i=1452654123&pf_rd_m=ATVPDKIKX0DER&pf_rd_r=1A5SZQT75BJFRW5NK5W5
