/section.hero
/  = inline_svg_tag "case_studies/mayo-clinic-hero.svg", alt: "Mayo Clinic OnPar App"

/Problem solving / ideation - Your abilities with problem definition, design exploration and decision-making.
/Communication - How you communicate the design process and decisions. This includes the narrative around your work and in your portfolio.
/Collaboration - Your abilities with cross-functional partnerships, stakeholder and peer influence and management.
/Execution - We want to see your deliverables, design principles, experience with design systems and complexity of work.
/User Focus/Research - How you understand users and use research to inform design decisions.

section.content.content--reading
  markdown:
    <h1 class="content__title">On Par</h1>

    The [Mayo Clinic](https://www.mayoclinic.org/) came to
    [thoughtbot](https://thoughtbot.com/) to solve a problem 
    within the educational shield of their organzation
    &mdash; slow innovation with digital products.
    With the exciting prospect of working with the Mayo Clinic, and helping them
    speed up innovation, <mark>we landed on the idea of demonstrating innovation
    through building on an actual product with a path to revenue while
    roadshowing our progress.</mark>

    ### Contents
    [The Plan](#theplan)<br />
    [The Team](#theteam)<br />
    [The Problem](#theproblem)<br />
    [A Business Model](#abusinessmodel)<br />
    [A Successful Prototype](#asuccessfulprototype)<br />
    [The MVP](#themvp)<br />
    [A Series of Iterations](#aseriesofiterations)<br />
    [The Best KPP](#thebestkpp)<br />
    [Finding The Paying Customer]()<br />
    [Wrapping Up]()


    ## <a name="theplan"></a>The Plan

    As the project lead,
    my first priority was to understand the
    factors inhibiting innovation
    within the
    organization (not the product).
    After interviewing the stakeholders, and some individuals
    who'd been previously invovled in building products at Mayo,
    we recognized that there
    was an aversion to risk, while at the same time
    an organizational lack-of-acceptance to failing,
    followed by a tendency to over-invest and plan 2 - 5 years ahead.

    I pitched a simple solution:
    <mark>derisk each step of the path forward
    by being Lean and focusing on learning,
    and give the stakholders the tools to make fast evidence-based
    decisions on a much shorted timeframe.</mark>
    This project felt like a good fit for a variation on the
    [Lean Framework](https://leanstack.com/)
    to quickly validate product ideas (problem solution fit) and
    find business value (product market fit):

    I setup and facilitated a kick-off meeting
    to focus on the constraints and goals of the project.
    Once those were out in the open and documented,
    I was able to develop a plan and toolkit for moving forward:

    #### Constraints
    - 3 months of budget to find validation and get further investment.
    - Product must be within the education domain.
    - Cannot use the Mayo name outside of the Mayo organization.

    #### Goals
    - A product that proves profitable within 6 months.
    - A case study that prooves a repeatable process for product innovation.

    #### Plan
    - Identify the most important problem through customer development.
    - Identify product risks and assumptions.
    - Develop a business model.
    - Design solutions and prototype.
    - Test prototypes with customers.
    - Test business models with customers.
    - Build &mdash; Measure &mdash; Learn.
    - [Kill, pivot or preserve](https://www.jasonramirez.com/posts/kill-pivot-or-preserve).

    #### Toolkit
    - Lean Framework & Experimentation
    - [Business Model Canvases](https://www.strategyzer.com/canvas/business-model-canvas)
    - GV Design Sprints
    - Kill Pivot Preserve Meetings
    - Agile Development

    ## <a name="theteam"></a>The Team

    thoughtbot's staff is unique as everyone is a consultant,
    and one of 2 specialty roles 
    &mdash;
    Designer & Front End Devloper and Front & Back End Developer.
    There are specialty skillsets within (such as Lean Practitioner),
    and everyone is a capable project manager.
    Because of this, we were able to fashion a small and powerful team.

    #### thoughtbot
    - Jason Ramirez (Project Lead, Designer)
    - Trace Wax (Project Liason, Back End Developer)

    _later rotations_

    - Ward Penney (Designer, Front End Developer)
    - Sean Doyle (Front End & Back End Developer)
    - Jaclyn Perrone (Designer, Front End Developer)
    - Eric Collins (Front End & Back End Developer)

    The Mayo Clinic aslo added 2 day-to-day team members who,
    if the project were to be successful,
    would take it over and integrate the processes into
    Mayo. They also provided a Senior Director who we would meet with weekly
    have continual communication with leadership. Finally, there
    was a board of 4 total members who
    were responbsible for deciding to
    fund or kill our project &mdash;
    we'd meet with bi-weekly for our KPP meetings.

    #### Mayo
    - Jeannie Poterucha Carter (Operations)
    - Abhi Bikkani (Project Manager)
    - Barbara Baasch Tomas (Board, Senior Director)
    - _3 other board members who only participated in the [KPPs](https://www.jasonramirez.com/posts/kill-pivot-or-preserve)_.


    ## <a name="theproblem"></a>The Problem

    The Mayo team came to this project with several problems
    they believed existed,
    had previously observed,
    or experienced first hand.
    All of these problems were within the education domain
    and they believe were worth solving.
    <mark>We wanted to vet these problems
    and build a case that not only did they exist,
    but that they were worth solving,
    and the _users_ were seeking a solution.

    After roughly 60 in-person customer discovery interviews
    and several rounds of analysis and convergence, we landed on a problem
    statement: <mark>Current continuing education methods for doctors,
    nurses and residents are
    not engaging, difficult to produce content for and
    ineffective when scaled.</mark>

    This problem statement came loaded with
    a large list of assumptions that needed validation.
    We pitched the problem, our evidence,
    and some high-level goals to our
    stakeholders:

    #### Goals
    - Create an engaging method of continuing education.
    - Reduce the cost of creating content for continuing education.
    - Have a proven and viable business model; make money.

    The problem resontated with leadership
    and they gave us the green light.
    It was time to kickoff the next step of our journey and
    chip away at our goals &mdash; <mark>it was time to design
    and test a solution for our biggest assumption;
    a more engaging method of continuing education was saught after.</mark>


    ## <a name="abusinessmodel"></a> A Business Model

    Before ever building a product,
    it's imperative that you spend some time
    looking at potential avenues towards revenue for your
    business (assuming your product is a business).
    You need a problem,
    a possible solution statement,
    target customers,
    a plan to reach those customers,
    and a plan to monetize those customers.

    Building off of our problem statement and leveraging our
    research, we developed a few
    [**Business Model Canvases**](https://leanstack.com/leancanvas).
    Here is the one we tested and moved forward with:

    [graphic here]


    ## <a name="asuccessfulprototype"></a> A Successful Prototpye

    At every stage of the product journey
    you need clear goals and a way of measuring those goals.
    Our first goal
    was to create a more engaging method of continuing education
    (as compared to what was available).
    Subsequently, we had the goal
    to uncover that our potential customers
    would actually use a more engaging method of continuing education.

    Following a variation on Lean Experimentation, we
    designed an experiment to test our goals:

    #### Hypothesis
    **If** we create a more engaging method of continuing education
    **then** Doctors, Nurses and Residents will
    use our method over existing alternatives.
    **We will measure success** by the number of people
    who state they would prefer to use our method.

    #### Success Criteria
    Depending on how far along you are with you business models,
    success can be hard to define at the early stages.
    If you don't know what you need to succeed, how can you define
    success? Did we need 100%, 50%, 10% of potential users to give us signal
    that they would use the solution we were testing?
    If you have _a_ business model, think in orders of magnitude.

    We had a couple variatons in-hand,
    and we were able to use those to give us some very loose success criteria.
    We believed that if 10% of the people
    we put our solution in front of would
    ask us to play again,
    and if 10% of those people actually said they would pay for our solution,
    we'd have roughly 1% of users giving signal
    that they'd use and buy our solution.
    That would be more than enough for us to move forward.


    ### The prototype

    The initial solution revolved around creating a game
    that would challenge clinicians to "solve a case"
    faster than an expert. The mechanics were quite simple;
    a patient presented with symptoms, the clinician could
    run diagnostics, then solve the case in less diagnostic tests
    than par (an expert's score).
    To test this, a card game created in the form
    of a paper prototype.

    <div class="image--centered">
      <img src="#{image_path("case_studies/mayo-initial-prototype.png")}" />
    </div>

    It was tested with 40 target customers,
    many of which we previously interviewed
    and who claimed to have the problem we were solving for.
    During the testing, one person literally left
    the room to grab another Doctor
    so they could try it out.
    An in-person share right then and there.
    Overall, more than enough people
    gave signal that they would use this kind of solution.
    We felt that this was enough evidence
    to begin developing an MVP software solution.


    ## <a name="themvp"></a>The MVP

    In our first KPP, we presented everything we'd learned and
    reccommended that we move forward with an MVP solution that will
    us get more validation for our product, test real-world experiences,
    experiment with business models and give us the much
    needed feedback to iterate on our idea.

    When I expressed to the board
    that <mark>our MVP will be the smallest set of features,
    developed in the least amount of time,
    and that the solution would be
    less than perfect, feauture light, and launched to 100 people,</mark>
    they we're scared and excited.

    We were 3 weeks into our timeline,
    had a couple of experiments under our belt,
    and now it was time
    test our assumptions at a scale
    that would give us more evidence we were on the right track
    as well as feedback to help us iterate.


    #### Features

    - A user can choose from 3 real-life cases.
    - A user can see all of the details of how a patient presents.
    - A user knows how many diagnostics tests (the score to beat) the expert used.
    - A user can chose a diagnostic proceduce.
    - A user can diagnose the patient.
    - A user is made aware of the proper diagnosis and the reason behind it.

    This was enough for us to launch the app to 100 users,
    and get signal on whether or not people actually wanted to use our solution.

    ### Experiment 1

    We leveraged the Mayo personal-connections channel and
    emailed 209 practioners within the Mayo clinics network inviting them
    to play. We wanted to learn if our solution was engaging.

    #### Hypothesis
    If we 

    #### Success Metrics

    1. The number of people who started a case
    2. The number of people who complted at least 1 case
    3. The number of people who completed more than 1 case.

    #### Results

    XXXXXXXXXXX

    ### Experiment 2

    The immediate next experiment was to test retention.
    If we send a notification that there is a new case to play,
    then a user will play that case. We will measure success
    by the percentage of people that open 

    #### Hypothesis

    #### Success Metrics

    1. The number of people who started a case
    2. The number of people who complted at least 1 case
    3. The number of people who completed more than 1 case.

    #### Results

    XXXXXXXXXXX

    We we're feeling great about our momentum and were feeling
    that we could start to use our user base to test
    so many more assumptions.

    In the next 4 weeks we would continue to test for value (via retention),
    monetization opportunities (revenue), new channels and virality (referral)
    and much more.
    For the sake of this case study, I'll focus on
    two more things -
    a series of experience iterations to build our retention,
    and our experimentation that led to finding a paying customer.

    ## <a name="aseriesofiterations"></a>A Series of Iterations


    ## <a name="thebestkpp"></a>The Best KPP

    We just lost $300k. Second round of investment.


    ## Finding The Paying Customer

    The CDC using it to educate people on how to treat certain illnesses.


    # Wrapping Up

    To conclude, I gave a final update to the board.
    We walked them through the journey, up

= render partial: "case_studies/case_studies_navigation",
  locals: { \
    next_case_study: { \
      name: "piggy",
      protected: false,
    },
    previous_case_study: { \
      name: "penner",
      protected: false,
    },
  }
