<section class="content content--reading">
  <h1>
    Mayo Clinic
  </h1>
</section>

<%= render partial: "case_studies/case_studies_navigation",
  locals: { \
    next_case_study: { \
      name: "mayo_clinic",
      protected: true,
    },
    previous_case_study: { \
      name: "mayo_clinic",
      protected: true,
    },
  }
%>
