<section class="content content--reading">
  <article class="post-sample">
    <h3 class="post-sample__title">
      <%= link_to "Mayo Clinic", "protected_case_studies/mayo_clinic" %>
    </h3>
  </article>

  <article class="post-sample">
    <h3 class="post-sample__title">
      <%= link_to "Piggy", "protected_case_studies/piggy" %>
    </h3>
  </article>

  <article class="post-sample">
    <h3 class="post-sample__title">
      <%= link_to "Tinysplash", "protected_case_studies/tinysplash" %>
    </h3>
  </article>

  <article class="post-sample">
    <h3 class="post-sample__title">
      <%= link_to "Penner", "protected_case_studies/penner" %>
    </h3>
  </article>
</section>
