<div data-js-reading-progress-bar></div>

<article class="content content--reading post">
  <div class="post-title">
    <div class="post-title__image-container">
      <%= inline_svg "case_studies/jasonramirez-case-study-logo.svg" %>
    </div>
    Clicking to Save Money
  </div>

  <h2>
    We Ate The Web, 2016
  </h2>

  <h2>
    How two friends quickly tested the idea of a button to save money and
    learned of a monetization path.
  </h2>

  <h1>
    Table of Contents
  </h1>

  <div>
    <ol>
      <li>
        <a href="#background">Background</a>
      </li>

      <li>
        <a href="#planning">Planning</a>
      </li>

      <li>
        <a href="#designing">Designing</a>
      </li>

      <li>
        <a href="#impact">Impact</a>
      </li>

      <li>
        <a href="#challenges">Challenges</a>
      </li>

      <li>
        <a href="#learnings">Learnings</a>
      </li>

      <li>
        <a href="#closing">Closing</a>
      </li>
    </ul>
  </div>

  <a name="background"></a>
  <h1>
    Background
  </h1>

  <p>
    The internet is filled with convenient and user friendly interactions that
    encourage you to spend money: one-click purchasing, recommendation engines,
    wish-lists, registries, SMS purchasing, etc. There are loads of buttons that
    help you spend money. However, there are very few buttons to help you save.
    Piggy brings the save button to the forefront, and helps people develop
    better money-saving habits one day at a time.
  </p>

  <p>
    A friend and I got into a discussion about how difficult it is to save
    money. Our conversation shifted to complaining about how our culture is a
    spending culture, and we are pushed to spend but not to save. In our
    personal lives spending occurs daily, while saving occurs bi-weekly or
    monthly.  We are very good at spending because we practice it daily, but the
    opposite is true of saving.  As a result, the act of spending feels easy and
    seamless, while saving money feels like a chore and takes effort.
  </p>

  <p>
    Moreover, we both didn't have confidence in our ability to save. We felt
    that our spending habits were bad. We recalled that when we did have _extra_
    cash, we usually ended up spending it on socializing or superfluous things.
  </p>

  <div class="case-study-focus">
    <header class="case-study-focus__header">
      <h3>
        Problem Statement
      </h3>
    </header>

    <p>
      I want to save money, but my current saving habits and lack of extra
      cash make it very difficult to save money.
    </p>
  </div>

  <a name="planning"></a>
  <h1>
    Planning
  </h1>

  <p>
    Our next step was to do some customer discovery and see if other shared in
    this pain. Before we started to dig into solutions, we wanted to see if
    other people had a similar relationship with money and/or related to our
    problem statement. We created a short list of questions to ask people. We
    started with gathering qualitative data from 5 in-person interviews.
  </p>

  <div class="case-study-focus">
    <header class="case-study-focus__header">
      <h3>
        Analysis
      </h3>
    </header>

    <ul>
      <li>
        Most people desired to save more money.
      </li>
      <li>
        Most people spend money every day.
      </li>
      <li>
        Most people did have spendable income.
      </li>
      <li>
        Half of the people said they did not have good saving habits.
      </li>
      <li>
        Some people said they didn't budget.
      </li>
      <li>
        Few people said they spend "too much".
      </li>
      <li>
        Few people said they are often encouraged by others to save money.
      </li>
      <li>
        Few people saved directly out of their paycheck
      </li>
    </ul>
  </div>

  <p>
    We thought these responses validated that people wanted to save money, but
    their saving habits were bad. However, we feel that our assumption that the
    lack of extra cash led added to the difficulty of saving was invalidated.
    We observed from multiple in-person interviews that extra cash wasn't viewed
    as money they _should save_, rather there was a perception that the extra
    cash could be spent. After the surveys and the interviews, we modified our
    problem statement:
  </p>

  <div class="case-study-focus">
    <header class="case-study-focus__header">
      <h3>
        Modified Problem Statement
      </h3>
    </header>

    <p>
      I have extra money that I want to save, but I have bad saving habits.
    </p>
  </div>


  <p>
    At this point we felt confident that people resonated with our problem
    statement, and decided it was time for an abbreviated design sprint.
  </p>

  <a name="designing"></a>
  <h1>
    Designing
  </h1>

  <p>
    Almost right away we had an interesting finding.  While getting background
    and looking at our competition, we noticed that most existing tools were
    directed at helping people get context around their money. They "helped"
    people save by offering up budgets or attempting to automate the saving
    process.
  </p>

  <p>
    Looking at our competition was eye opening. It didn't seem that anyone had
    actively focused on developing a persons saving habit. Rather, existing
    tools aimed to help people save money by monitoring spending habits. We kept
    this top of mind as we went through the sprint.
  </p>

  <p>
    As we diverged we continually
    found ourselves digging into the belief that:
    <strong>
    People's saving habits will be improved if we engage them in saving daily.
    </strong>

  <p>
    As we continued to sketch out solutions, we refined that statement further:
    <strong>
      Providing a person with daily encouragement and reminders to save their
      left over spending cash will help develop better saving habits.
    </strong>
  </p>

  <p>
    From here we developed a user journey to help guide us through building our
    prototype. As we refined a potential solution, we surfaced many assumptions
    about our users that we needed to test.
  </p>

  <div class="case-study-focus">
    <header class="case-study-focus__header">
      <h3>
        Base Assumptions
      </h3>
    </header>

    <ul>
      <li>
        People will use one account for all daily spending.
      </li>
      <li>
        People want to be reminded to save money daily.
      </li>
      <li>
        People want the option to save.
      </li>
      <li>
        People will save out of spending cash, and that is separate than bills.
      </li>
    </ul>
  </div>

  <p>
    Next we set out to build a prototype to test with users. Based off the
    outcome from the sprint, we started to build a prototype to test that our
    solution was a viable solution and addressed our riskiest assumptions:
  </p>

  <div class="case-study-focus">
    <header class="case-study-focus__header">
      <h3>
        Riskiest Assumptions
      </h3>
    </header>

    <ul>
      <li>
        People wouldn't pay for this service
      </li>
      <li>
        People will use one account for all daily spending.
      </li>
      <li>
        People want to be reminded to save money daily.
      </li>
      <li>
        People want the option to save.
      </li>
      <li>
        People will save out of spending cash, and that is separate than bills.
      </li>
    </ul>
  </div>
</article>

<section class="case-study-prototype">
  <iframe width="480" height="980" frameborder="0"
    src="https://www.figma.com/embed?embed_host=share&url=https://www.figma.com/proto/RySG7djTvOhTk5lLsVrde4tN/Piggy?node-id=235%253A20&chrome=DOCUMENTATION"
    allowfullscreen></iframe>
</section>

<article class="content content--reading post">
  <a name="designing"></a>
  <h1>
    Impact
  </h1>

  <p>
    We ran 7 user tests with our "target market"; people who made $80K+,
    currently _wanted_ to save money, and felt that they had bad saving habits.
    We weren't entirely confident that this was our target market, but that was
    the group we had gotten the most positive feedback from.
  </p>

  <p>
    The user tests were a great success. Not only did we uncover some (now
    seemingly obvious) interface and experience problems, but we got a lot of
    positive feedback and validation that being prompted to save money felt
    empowering, and that it felt different from other tools. About half of the
    group users asked to be notified when the application was to be released
    without being prompted.
  </p>

  <a name="challenges"></a>
  <h1>
    Challenges
  </h1>

  <p>
    Before we started to develop the MVP Piggy application, we spiked on the
    engineering side of things. We quickly ran into some difficult technical
    hurdles. The immediate problem we faced was facilitating the transferring of
    funds from a checking account to a savings account. We were able to find a
    means to do so, but at a high cost.  The best solution we found would cost
    each user $10 per month.
  </p>

  <p>
    With a cost that high, we didn't believe that our complete solution would
    be viable. Five options we were considering:
  </p>

  <div class="case-study-focus">
    <header class="case-study-focus__header">
      <h3>
        Options
      </h3>
    </header>

    <ol>
      <li>
        Don't have a save button, rather remind and suggest an amount save.
      </li>
      <li>
        Partner with a bank to get free access to the API to facilitate money
        transfers free of charge.
      </li>
      <li>
        Find a better/free solution to facilitate money transferring.
      </li>
      <li>
        Create a better/free solution to facilitate money transferring.
      </li>
      <li>
        Get users to pay
      </li>
    </ul>
  </div>

  <p>
    We wanted to pursue the third option, while considering the
    first option to be our MVP. We felt that although you couldn't save money
    using the application, the daily reminders and encouragement would still be
    usefull.  Our end goal is to provide the means to directly save money
    without any charge to the customer, so option 5 is out of the picture for
    now. But before we could take this path we went in search of a buyer.
  </p>

  <a name="learnings"></a>
  <h1>
    Learnings
  </h1>

  <p>
    The most interesting learning to my was finding the buyer. Free products
    are never free. If a product is free, than the user is the product.
    With that in mind we started to look into how the helping a person save
    money was monetizable. Through some of my partner's connections, we
    were able to sit down with people from American Express and Citi Bank.
    What we learned was obvious in hindsight. Banks pay a great deal of money
    to get an individual to open a checking or savings account. If we could
    use this app to guide people to opening an account, it was an 
    acquisition play for the banks. Moreover, the more money a person has
    in their account, the more the bank can leverage that money. It's a win-win
    for the user and the bank.
  </p>

  <a name="closing"></a>
  <h1>
    Closing
  </h1>

  <p>
    The development of the Piggy application has addressed the challenge of
    saving money in a spending-centric culture. By actively engaging users in
    daily saving habits through reminders and encouragement, Piggy sets itself
    apart from existing tools focused on monitoring spending. User testing
    validated its effectiveness, receiving positive feedback. Challenges related
    to technical hurdles and high costs for fund transfers prompted exploration
    of alternative options, including partnerships with banks. The journey also
    revealed the potential for Piggy to serve as an acquisition tool for
    financial institutions. Overall, Piggy offers a practical solution to
    improve saving habits and benefits both users and banks.
  </p>

  <h1>
    🤑
  </h1>
</article>
