<section class="content content--reading">
  <article class="post-sample">
    <h3 class="post-sample__title">
      <%= link_to "Mayo Clinic", "protected_case_studies/mayo_clinic" %>
    </h3>
  </article>

  <article class="post-sample">
    <h3 class="post-sample__title">
      <%= link_to "Dropbox Activation", "protected_case_studies/dropbox_activation" %>
    </h3>
  </article>
</section>
