<section class="content content--slim">
  <div>
    <%= link_to "protected_case_studies/dropbox_activation",
      class: "case-study-link" do %>
      <%= inline_svg "case_studies/dropbox-logo.svg" %>
      <span class="case-study-link__title">
        Dropbox Activation in 2023
      </span>
    <% end %>
  </div>

  <div>
    <%= link_to "protected_case_studies/dropbox_teams_value",
      class: "case-study-link" do %>
      <%= inline_svg "case_studies/dropbox-logo.svg" %>
      <span class="case-study-link__title">
        Dropbox Collaboration for Teams in 2022
      </span>
    <% end %>
  </div>
</section>
