<article class="post-sample">
  <h2 class="post-sample__title">
    <%= link_to post.title, post_path(post) %>
  </h2>

  <div>
    <% post.hashtags.each_with_index do |hashtag, index| %>
      <div class="post-sample__hashtag">
        <%= link_to "#{hashtag.label}#{hashtag_comma(post.hashtags.size, index)}",
          posts_path(search: hashtag.label),
          class: "link" if hashtag.label.present? %>
      </div>
    <% end %>
  </div>

  <div class="post-sample__date">
    Published <%= post.pretty_published_date %>
    and
    updated <%= time_ago_in_words(post.updated_at) %> ago
  </div>
</article>
