<article class="post-sample">
  <h2 class="post-sample__title">
    <%= link_to post.title, post_path(post) %>
  </h2>

  <% if post.hashtags.any? %>
    <div>
      <% post.hashtags.each_with_index do |hashtag, index| %>
        <%= link_to "#{hashtag.label}#{hashtag_comma(post.hashtags.count, index)}",
          posts_path(search: hashtag.label),
          class: "post-sample__hashtag badge badge--ghost" 
        %>
      <% end %>
    </div>
  <% end %>

  <div class="post-sample__date">
    <%= post.pretty_published_date %>
  </div>
</article>