<section class="content content--narrow">
  <% if @posts.present? %>
    <% @posts.each do |post| %>
      <article class="post-sample">
        <h3 class="post-sample__title">
          <%= link_to post.display_title, post_path(post) %>
        </h3>

        <time class="post-sample__date">
          <%= post.pretty_published_date %>
        </time>
      </article>
    <% end %>
  <% end %>
</section>
