<section class="content content--reading post">
  <% if @post.published %>
    <h1>
      <%= @post.title %>
    </h1>

    <%= MarkdownParser.new(@post.body).markdown_to_html %>
  <% else %>
    <p>
      <%= t(".removed") %>
    </p>
  </section>
<% end %>
