@use "variables/tokens" as *;
@use "variables/variables" as *;
@use "sass:color";

.admin-floating-action {
  bottom: $base-spacing;
  position: fixed;
  right: $base-spacing;
  z-index: $z-index-floating-actions;
}

.admin-floating-action__button {
  appearance: none;
  align-items: center;
  background: $action-color;
  border-radius: $button-border-radius;
  color: $button-color;
  display: flex;
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  height: 3rem;
  justify-content: center;
  margin-top: $small-spacing;
  width: 3rem;

  &:active,
  &:focus,
  &:hover {
    background-color: color.adjust($button-background-color, $lightness: -10%);
    cursor: pointer;

    svg {
      stroke: $button-color;

      path {
        transition: all $base-duration $base-timing;
      }
    }
  }

  // svg {
  //   height: 1.5rem;
  //   width: 1.5rem;
  // }
}
