@use "variables/tokens" as *;
@use "variables/variables" as *;
@use "sass:color";

.admin-post-hashtags {
  .checkbox {
    display: inline;
    margin-right: $small-spacing;
    position: relative;
  }

  input[type="checkbox"] + label,
  input[type="checkbox"]:checked + label {
    background-color: color.adjust($secondary-font-color, $alpha: -0.56);
    border-radius: 1rem;
    padding: $x-small-spacing $small-spacing $x-small-spacing $medium-spacing;
    text-transform: lowercase;
  }

  input[type="checkbox"]:checked + label {
    background-color: color.adjust($action-color, $alpha: -0.8);
  }

  input[type="checkbox"] + label::before,
  input[type="checkbox"]:checked + label::after {
    border-radius: 1rem;
    transform: translateY(-50%);
  }
}
