@use "variables/tokens" as *;
@use "variables/variables" as *;
@use "sass:color";

.admin-drawer {
  background-color: $base-background-color;
  bottom: 0;
  box-shadow: 0 0 2rem 0 color.scale(black, $alpha: -90%);
  position: fixed;
  left: null;
  max-width: $large-screen;
  overflow-x: hidden;
  overflow-y: scroll;
  right: -300%;
  top: 0;
  transition: right $base-duration $base-timing;
  padding: $base-spacing ($x-large-spacing + $base-spacing)
    $base-spacing$base-spacing;
  z-index: $z-index-drawers;

  &.open {
    bottom: 0;
    right: 0;
    top: 0;
    position: fixed;
  }

  &::before {
    background-color: $base-background-color;
    border-left: solid 1px $base-border-color;
    bottom: 0;
    content: "";
    left: null;
    position: fixed;
    right: -100%;
    top: 0;
    transition: right $base-duration $base-timing;
    width: $x-large-spacing;
  }
}

.open.admin-drawer::before {
  right: 0;
}

.admin-drawer__close-trigger {
  bottom: null;
  left: null;
  position: fixed;
  right: -300%;
  top: $base-spacing;

  .open & {
    right: $base-spacing;
  }
}
