@use "variables/tokens" as *;
@use "variables/variables" as *;
@use "sass:color";

.admin-post-item {
  align-items: center;
  display: flex;
  margin-bottom: $base-spacing;
}

.admin-post-item__title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-grow: 1;
  font-size: $base-font-size;

  .not-published & {
    color: color.adjust($base-font-color, $alpha: 0.3);
  }

  .badge {
    margin-left: $x-small-spacing;
    transform: translateY(1px);
    color: $base-font-color;
  }
}

.admin-post-item__actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;

  a {
    margin-left: $x-small-spacing;
  }
}

.admin-post-item__published-status {
  align-items: center;
  display: flex;
  width: 2rem;
}

.admin-post-item__time {
  width: 4rem;

  .not-published & {
    color: color.adjust($base-font-color, $alpha: 0.3);
  }
}
