@use "variables/variables" as *;

.admin-post-meta {
  margin-bottom: $medium-spacing;

  .text {
    flex-direction: column;
    align-items: flex-start;
  }

  .date {
    align-items: center;
    display: flex;
    margin: 0 $x-small-spacing 0 0;
  }

  label {
    margin-bottom: $small-spacing;
  }

  textarea {
    margin-bottom: 0;
  }
}
