@use "variables/tokens" as *;
@use "variables/variables" as *;
@use "sass:color";
@use "sass:map";

.admin-chip {
  align-items: center;
  background-color: color.adjust($secondary-font-color, $alpha: -0.95);
  border-radius: 1rem;
  display: inline-flex;
  font-family: $base-font-family;
  font-size: $small-font-size;
  margin-bottom: $base-spacing;
  padding: $x-small-spacing $small-spacing;
  position: relative;
  width: auto;

  &::before {
    content: "";
    border-radius: 1rem;
    height: 1rem;
    margin-right: $x-small-spacing;
    width: 1rem;
  }
}

.admin-chip--small {
  height: 1rem;
  margin: 0;
  padding: 0;
  width: 1rem;

  &::before {
    bottom: 50%;
    height: 0.5rem;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 0.5rem;
  }
}

.admin-chip--published {
  background-color: color.adjust($notice-background-color, $alpha: -0.875);

  &::before {
    background-color: $notice-background-color;
  }
}

.admin-chip--not-published {
  background-color: color.adjust($error-background-color, $alpha: -0.875);

  &::before {
    background-color: $error-background-color;
  }
}
