// Audio TLDR Component Styling
.audio-tldr {
  background-color: rgba($base-border-color, 0.05);
  border-radius: $base-border-radius;
  margin-top: $medium-spacing;
  padding: $base-spacing;
  width: 100%;

  h3.audio-tldr__title {
    margin-top: 0;
  }
}

.audio-tldr__title {
  align-items: center;
  color: $base-font-color;
  display: flex;
}

.audio-tldr__description {
  color: $base-font-color;
  font-size: 0.95rem;
  margin: 0;
  line-height: 1.5;
}

.audio-tldr__player {
  // background-color: transparent;
  margin: 0;
  width: 100%;
}
