@use "variables/tokens" as *;
@use "variables/variables" as *;
@use "variables/colors" as *;
@use "sass:color";

.badge {
  align-items: center;
  display: inline-flex;
  background-color: $base-border-color;
  border-radius: $small-border-radius;
  color: $base-background-color;
  font-family: $code-font-family;
  justify-content: center;
  padding: 0.05rem 0.5rem;
  text-transform: lowercase;
  transform: translateY(-0.05rem);

  &:hover,
  a:hover & {
    background-color: color.adjust($action-color, $lightness: -20%);
    color: $base-background-color;
  }
}

.badge--jason-ai {
  background-color: $action-color;
  color: $warm-white;
  margin-left: 0.25rem;
}

.badge--small {
  font-size: 0.65rem;
}

.badge--ghost {
  background-color: unset;
  color: $base-font-color;
  padding: 0;
}

.badge--action {
  background-color: $action-color;
  color: $warm-white;
}
