blockquote,
.blockquote {
  border-left: 2px solid $blockquote-color;
  color: $blockquote-color;
  font-family: $blockquote-font-family;
  font-size: $base-font-size * 1.5;
  line-height: $base-line-height;
  margin: $large-spacing 0;
  padding-left: $base-spacing;

  @media (min-width: $medium-screen) {
    font-size: $base-font-size * 1.75;
    max-width: 80%;
  }

  small {
    display: block;
    margin-top: $base-spacing;
  }
}

.blockquote__author {
  font-size: $base-font-size;
}
