.button {
  background-color: $button-background-color;
  border: none;
  border-radius: $base-border-radius;
  box-shadow: 0 1rem 2rem rgba($button-background-color, 0.15);
  color: $button-color;
  character-spacing: 0.05rem;
  display: inline-block;
  font-family: $button-font-family;
  font-weight: bold;
  font-size: $small-font-size;
  line-height: $button-line-height;
  letter-spacing: 0.025rem;
  outline: $action-color solid 0px;
  padding: $x-small-spacing $base-spacing;
  position: relative;
  text-transform: uppercase;
  transition: all $base-duration;

  &:hover {
    color: $action-color;
    cursor: pointer;
    outline: $action-color solid 2px;
  }

  & + & {
    margin-left: $base-spacing;
  }

}

.button--with-icon {
  overflow: hidden;
  position: relative;

  &:hover {
    padding-right: 4.5rem;

    svg g {
      stroke: $action-color;
    }

    .button__icon {
      opacity: 100%;
    }
  }
}

.button--link {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: $base-font-color;
  padding: 0;

  &:hover {
    background-color: transparent;
    box-shadow: none;
    outline: none;
  }
}


.button__icon {
  @include position(absolute, 50% $base-spacing null null);
  @include size(1rem);
  opacity: 0%;
  transform: translateY(-50%);
  transition-duration: $base-duration;
  transition-property: transform padding opacity;
  z-index: 1;
}
