.case-study-footer-navigation {
  @include clearfix;
  @include padding(null $base-spacing);
  align-items: top;
  display: flex;
  justify-content: space-between;
  max-width: $reading-screen;

  @include media($large-screen) {
    @include padding(null 0);
  }

  a.case-study-footer-navigation__link {
    border: none;
  }
}

.case-study-footer-navigation__link {
  color: $base-font-color;
  display: flex;
  flex-direction: column;
  font-weight: normal;
  line-height: $reading-line-height / 1.2;
  width: 50%;

  @include media($medium-screen) {
  }

  &:focus,
  &:hover {
    color: $action-color;
  }

  &.left {
    align-items: flex-start;
  }

  &.right {
    align-items: flex-end;
    text-align: right;
  }

  p {
    width: 75%;
  }

  span {
    character-spacing: 0.05rem;
    font-family: $heading-font-family;
    font-size: $small-font-size;
    text-transform: uppercase;
  }

  h3 {
    font-weight: bold;
    margin-top: $base-spacing;
    font-family: $heading-font-family;
  }

  p {
    font-family: $reading-font-family;
    font-size: $base-font-size;
  }
}
