.case-study-carousel-actions {
  align-items: center;
  justify-content: flex-start;
  padding: $base-spacing null;
  padding-left: calc(20% - 2.5rem);

  @include media($large-screen) {
    justify-content: center;
    padding-left: 0;
  }

  a {
    line-height: 0;
  }

  svg {
    height: 1.75rem;
    width: auto;
  }
}
