.case-study-carousel-actions {
  align-items: flex-start;
  padding: $base-spacing null;
  padding-left: calc(20% - 2.5rem);

  @include media($large-screen) {
    justify-content: center;
    padding-left: 0;
  }

  svg {
    height: 1rem;
    width: 2.5rem;
  }
}
