.case-study-image-container {
  margin: $large-spacing 0;

  @include media($large-screen) {
    margin: $x-large-spacing -10vw;
  }
}

.case-study-image__figure {
  margin: 0;

  img,
  video {
    max-width: $x-large-screen;
    width: 100%;
  }
}
