.case-studies:not(body) {
  @include clearfix;
  margin: 0 auto 6rem;
  max-width: $large-screen;
  list-style-type: none;
  padding: 0;
}

.case-study {
  padding: 0;
  text-align: center;
}

.case-study__image {
  position: relative;

  &.filled {
    @include svg-fill($base-font-color, $action-color);
  }

  &.filled-and-stroked {
    @include svg-fill-and-stroke($base-font-color, $action-color);
  }

  &.stroked {
    @include svg-stroke($base-font-color, $action-color);
  }

  ellipse,
  path,
  polygon {
    transition: all $base-duration;
  }
}
