.case-study-footer-navigation {
  @include padding(null $base-spacing);
  align-item: flex-start;
  display: flex;
  flex-direction: column;
  max-width: $reading-screen;
  transition: all 250ms ease;
  width: 100%;

  @include media($large-screen) {
    @include padding(null 0);
    align-item: space-between;
    flex-direction: row;
  }

  @include media($x-large-screen) {
    max-width: $reading-screen * 1.15;
  }

  @include media($xx-large-screen) {
    max-width: $reading-screen * 1.25;
  }
}

.case-study-footer-navigation__link {
  color: $base-font-color;
  display: flex;
  flex-direction: column;
  font-weight: normal;
  line-height: $reading-line-height / 1.2;
  text-decoration: none;
  width: 50%;

  &.left {
    @include media($large-screen) {
      align-items: flex-start;
    }
  }

  &.right {
    margin-top: $x-large-spacing;

    @include media($large-screen) {
      margin-top: 0;
      align-items: flex-end;
      text-align: right;
    }
  }

  &:focus,
  &:hover {
    color: $action-color;
  }

  svg {
    height: $small-font-size;
    width: auto;
  }

  p {
    font-family: $reading-font-family;
    font-size: $base-font-size;
    width: 85%;
  }
}
