.case-studies:not(body) {
  @include clearfix;
  list-style-type: none;
  margin: 0 auto 6rem;
  max-width: $large-screen;
  padding: 0;
  text-align: center;
}

.case-study {
  a {
    border-bottom: dashed 1px rgba($base-font-color, 0.5);

    &:hover {
      color: $action-color;
      border-color: $action-color;
    }
  }
}
