@use "variables/tokens" as *;
@use "variables/variables" as *;

.collapseable {
  font-family: inherit;
  font-size: inherit;
}

.collapseable__input {
  display: none;

  & + .collapseable__trigger + .collapseable__content {
    display: none;
  }

  &:checked + .collapseable__trigger + .collapseable__content {
    display: block;
  }

  &:checked + .collapseable__trigger svg {
    transform: rotate(180deg) translateY(-10%);
  }
}

.collapseable__content {
  margin-bottom: $x-large-spacing;
}

.collapseable__trigger {
  &:hover {
    color: $action-color;
    cursor: pointer;

    svg {
      path {
        fill: $action-color;
      }
    }
  }

  h2,
  h5 {
    align-items: center;
    display: flex;
    transition-duration: $base-duration;
    transition-timing-function: $base-timing;
    transition-property: all;
  }

  svg {
    height: 1rem;
    margin-left: $base-spacing;
    transform: translateY(10%);
    transition-duration: $base-duration;
    transition-property: transform;
    width: auto;

    path {
      transition-duration: $base-duration;
      transition-timing-function: $base-timing;
      transition-property: fill, transform;
    }
  }
}
