.content {
  @include padding(null 1rem);
  margin: $base-spacing auto;
  max-width: $large-screen;

  @include media($large-screen) {
    @include padding(null 0);
    margin: $large-spacing auto;
  }

  &:last-of-type {
    margin-bottom: $large-spacing;

    @include media($large-screen) {
      margin-bottom: $large-spacing * 2;
    }
  }

  &:first-of-type {
    margin-top: $navigation-height-mobile;

    @include media($small-screen) {
      margin-top: $large-spacing;
    }
  }
}

.content--reading {
  @include padding(null $base-spacing);
  font-family: $reading-font-family;
  font-size: $base-font-size;
  line-height: $reading-line-height / 1.2;
  max-width: $reading-screen;

  @include media($medium-screen) {
    font-size: $reading-font-size;
    line-height: $reading-line-height;
  }

  @include media($large-screen) {
    @include padding(null 0);
  }

  .image--centered {
    margin: $base-spacing 0;
    text-align: center;
  }

  a {
    border-bottom: solid 2px rgba($action-color, 0.5);
  }

  blockquote {
    color: mix($action-color, $white, 80%);
    font-family: $blockquote-font-family;
    font-size: $base-font-size * 1.75;
    line-height: 1.6;
    margin: $large-spacing 0;
    padding: $base-spacing;
    position: relative;
    text-align: center;
  }

  .blockquote__author {
    font-size: $base-font-size;
  }

  h1 {
    font-size: 2rem;
    margin: $large-spacing 0;
    padding: $large-spacing 0 $base-spacing;
    position: relative;
    text-align: center;

    @include media($medium-screen) {
      @include margin($large-spacing null);
      padding: $x-large-spacing 0 $large-spacing;
      font-size: 3rem;
    }

    &::before {
      @include position(absolute, 0 null null 50%);
      @include size(25%, 1px);
      background-color: $light-gray;
      content: "";
      transform: translateX(-50%);
    }

    &:first-of-type {
      margin-top: 0;
      padding-top: 0;
    }

    &:first-of-type::before {
      background-color: transparent;
    }
  }

  h2:not(:first-of-type),
  h3:not(:first-of-type) {
    margin-top: $large-spacing * 1.5;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  p {
    margin-bottom: $reading-paragraph-spacing / 1.2;

    @include media($large-screen) {
      font-weight: 300;
      margin-bottom: $reading-paragraph-spacing;
    }
  }

  ol,
  ul {
    margin-bottom: $large-spacing;
  }

  li {
    padding-left: $small-spacing;
  }

  + .content--reading {
    margin-top: 0;
  }
}

.content--centered {
  text-align: center;
}
