.content {
  @include padding(null 1rem);
  margin: $base-spacing auto;
  max-width: $large-screen;

  @include media($large-screen) {
    @include padding(null 0);
    margin: $large-spacing auto;
  }

  &:last-of-type {
    margin-bottom: $large-spacing;

    @include media($large-screen) {
      margin-bottom: $large-spacing * 2;
    }
  }

  &:first-of-type {
    margin-top: $navigation-height-mobile;

    @include media($small-screen) {
      margin-top: $large-spacing;
    }
  }
}

.content--centered {
  text-align: center;
}

.content--narrow {
  @include padding(null $base-spacing);
  max-width: $reading-screen;

  @include media($large-screen) {
    @include padding(null 0);
  }
}

.content--reading {
  @include padding(null $base-spacing);
  font-family: $reading-font-family;
  font-size: $base-font-size;
  line-height: $reading-line-height / 1.2;
  max-width: $reading-screen;

  @include media($medium-screen) {
    font-size: $reading-font-size;
    line-height: $reading-line-height;
  }

  @include media($large-screen) {
    @include padding(null 0);
  }

  a {
    border-bottom: solid 2px rgba($action-color, 0.5);
  }

  h1 {
    font-size: 2rem;
    margin: $large-spacing 0;
    padding: $large-spacing 0 $base-spacing;
    position: relative;
    text-align: center;

    @include media($medium-screen) {
      @include margin($large-spacing null);
      padding: $x-large-spacing 0 $large-spacing;
      font-size: 3rem;
    }

    &::before {
      @include position(absolute, 0 null null 50%);
      @include size(25%, 1px);
      background-color: $light-gray;
      content: "";
      transform: translateX(-50%);
    }

    &:first-of-type {
      margin-top: 0;
      padding-top: 0;
    }

    &:first-of-type::before {
      background-color: transparent;
    }
  }

  h2,
  h3 {
    margin-top: $large-spacing * 2;
  }

  h4 {
    margin-top: $large-spacing * 1.25;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  p {
    margin-bottom: $reading-paragraph-spacing / 1.2;

    @include media($large-screen) {
      margin-bottom: $reading-paragraph-spacing;
    }
  }

  ol,
  ul {
    margin-bottom: $large-spacing;
  }

  li {
    padding-left: $small-spacing;
  }

  pre {
    background-color: $code-gray;
    border-radius: $base-border-radius;
    margin-bottom: $large-spacing;
    padding: $base-spacing;

    code {
      border: none;
    }
  }

  mark {
    code {
      background-color: darken($mark-highlight-color, 5%);
      border-color: darken($mark-highlight-color, 25%);
      color: $mark-color;
    }
  }

  table {
    background-color: rgba($black, 0.0125);
    border: 1px solid rgba($black, 0.05);
    font-size: $small-font-size;
    max-width: 100%;
    table-layout: table;
    white-space: nowrap;
  }

  th {
    background-color: rgba($black, 0.0125);
    border-bottom-color: rgba($black, 0.05);
    text-align: center;
  }

  tr:nth-child(odd) {
    background-color: rgba($white, 0.85);
  }

  td {
    border: 1px solid rgba($black, 0.05);
    padding: $x-small-spacing;
  }

  td + td {
    text-align: center;
  }

  + .content--reading {
    margin-top: 0;
  }
}
