.content {
  @include padding(null 1rem);
  margin: $base-spacing auto;
  max-width: $large-screen;

  @include media($large-screen) {
    @include padding(null 0);
    margin: $large-spacing auto;
  }
}

.content--reading {
  @include padding(null $base-spacing);
  font-family: $reading-font-family;
  font-size: $base-font-size;
  line-height: $reading-line-height / 1.2;
  max-width: $reading-screen;

  @include media($medium-screen) {
    font-size: $reading-font-size;
    line-height: $reading-line-height;
  }

  @include media($large-screen) {
    @include padding(null 0);
  }

  .image--centered {
    margin: $base-spacing 0 0;
    text-align: center;
  }

  blockquote {
    border-left: solid 4px $light-gray;
    color: $medium-gray;
    margin: 2rem 0;
    padding-left: $base-spacing;
  }

  h1 {
    font-size: 2rem;
    margin: $large-spacing 0;
    padding-top: $large-spacing;
    position: relative;
    text-align: center;

    @include media($medium-screen) {
      font-size: 3rem;
      margin: ($large-spacing * 2) 0;
      padding-top: ($large-spacing * 2);
    }

    &::before {
      @include position(absolute);
      @include size(25%, 1px);
      background-color: $light-gray;
      content: "";
      left: 50%;
      transform: translateX(-50%);
    }

    &::before {
      top: 0;
    }
  }

  h1:first-of-type {
    margin-top: 0;
  }

  li {
    padding-left: $small-spacing;
  }

  p {
    margin-bottom: $reading-paragraph-spacing / 1.2;

    @include media($large-screen) {
      margin-bottom: $reading-paragraph-spacing;
    }
  }

  ol,
  ul {
    margin-bottom: $large-spacing;
  }

  + .content--reading {
    margin-top: 0;
  }
}

.content--centered {
  text-align: center;
}
