@mixin flash($background-color, $color) {
  align-items: center;
  animation-duration: 5s;
  animation-name: slide-in-out-from-bottom;
  background-color: $background-color;
  bottom: -100%;
  color: $color;
  display: flex;
  font-size: $small-font-size;
  font-weight: bold;
  height: 3rem;
  justify-content: center;
  margin: $base-spacing;
  padding: $x-small-spacing $small-spacing;
  position: fixed;
  z-index: $z-index-flashes;

  a {
    color: darken($color, 70%);

    &:focus,
    &:hover {
      color: darken($color, 90%);
    }
  }

  svg {
    height: 1.5rem;
    margin-right: $x-small-spacing;
    width: auto;

    path {
      fill: $color;
    }
  }
}

.flash-alert {
  @include flash($alert-background-color, $alert-color);
}

.flash-error {
  @include flash($error-background-color, $error-color);
}

.flash-notice {
  @include flash($notice-background-color, $notice-color);
}
