@use "variables/tokens" as *;
@use "variables/variables" as *;
@use "mixins/flash" as *;
@use "sass:color";

.flash {
  align-items: center;
  animation-duration: 5s;
  animation-name: slide-in-out-from-bottom;
  background-color: $base-background-color;
  border-radius: $base-border-radius;
  bottom: -100%;
  color: $base-font-color;
  display: flex;
  font-size: $base-font-size;
  height: 3rem;
  justify-content: center;
  margin: $base-spacing;
  padding: $x-small-spacing $small-spacing;
  position: fixed;
  z-index: $z-index-flashes;

  a {
    color: color.adjust($base-font-color, $lightness: -70%);

    &:focus,
    &:hover {
      color: color.adjust($base-font-color, $lightness: -90%);
    }
  }

  svg {
    height: 1.5rem;
    margin-right: $x-small-spacing;
    width: auto;
  }
}

.flash-alert {
  @include flash($alert-background-color, $alert-color);
}

.flash-error {
  @include flash($error-background-color, $error-color);
}

.flash-notice {
  @include flash($notice-background-color, $notice-color);
}
