@mixin flash($color) {
  animation-duration: 5s;
  animation-name: slide-in-out-from-bottom;
  background-color: $color;
  bottom: -100%;
  color: darken($color, 60%);
  display: block;
  font-weight: 600;
  padding: $base-spacing / 2;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: $z-index-flashes;

  a {
    color: darken($color, 70%);

    &:focus,
    &:hover {
      color: darken($color, 90%);
    }
  }
}

.flash-alert {
  @include flash($alert-color);
  color: darken($alert-color, 30%);
}

.flash-error {
  @include flash($error-color);
}

.flash-notice {
  @include flash($notice-color);
  color: darken($notice-color, 30%);
}
