.hero {
  align-items: center;
  display: flex;
  height: calc(100vh - #{$navigation-height-mobile});

  @include media($large-screen) {
    height: calc(100vh - #{$navigation-height});
  }
}

.hero--landing {
  background-image: image-url("three-quarters.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 0 1px 0 0 rgba($black, 0.05);
}

.hero--mini {
  height: calc(75vh - #{$navigation-height});
  min-height: 18rem;
  padding: $base-spacing;

  @include media($small-screen) {
    min-height: 26rem;
  }

  @include media($large-screen) {
    max-height: 34rem;
    min-height: 26rem;
  }

  img {
    max-height: 100%;
    margin: 0 auto;
  }
}
