.hero-description {
  align-items: left;
  display: flex;
  flex-direction: column;
  transition: all 250ms ease;

  @include media($large-screen) {
    align-items: center;
  }

  a {
    color: inherit;
    text-decoration-thickness: 0.35rem;


    &:hover {
      color: $action-color;
    }
  }

  .carousel__actions {
    align-items: flex-start;
    padding-left: calc(20% - 2.5rem);

    @include media($large-screen) {
      justify-content: center;
      padding-left: 0;
    }
  }

  .carousel__actions a {
    margin-bottom: $large-spacing;
  }

  .carousel__actions svg {
    height: 1rem;
    width: 2.5rem;
  }
}

.hero-description__content {
  margin: $base-spacing $base-spacing $large-spacing;
  max-width: $medium-screen;
  text-align: left;

  @include media($x-large-screen) {
    max-width: $medium-screen * 1.15;
    text-align: center;
  }

  @include media($xx-large-screen) {
    max-width: $medium-screen * 1.45;
  }
}

.hero-description__quote-person {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: $base-spacing;
  max-width: $reading-screen;
  padding: 0 $base-spacing;
  width: 100%;

  @include media($x-large-screen) {
    align-items: center;
  }

  img {
    height: 2rem;
    width: auto;
    margin-bottom: $small-spacing;

    @include media($large-screen) {
      height: 3rem;
    }
  }

  p {
    color: $secondary-font-color;
  }
}
