.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - #{$navigation-height-mobile});
  min-height: 400px;

  @include media($large-screen) {
    height: calc(100vh - #{$navigation-height});
  }
}

.hero_headshot {
  min-height: 200px;
  height: 35vh;
  border-radius: 100%;
}

.hero_title {
  font-size: 22vw;
  text-align: center;
  width: 100%;

  @include media($medium-screen) {
    font-size: 10rem;
  }
}

.hero_filler {
  display: flex;
  height: 100%;
  justify-content: left;
  min-height: 120px;
  position: relative;
  width: 100%;

  &:first-child {
    height: 40%;
  }

  &:last-child {
    height: 60%;
  }

  @include media($large-screen) {
    justify-content: center;
  }
}

.hero_leading-line {
  background: linear-gradient(
    0deg,
    map-get($colors, tertiary),
    transparentize(map-get($colors, tertiary), 1)
  );
  height: 100%;
  margin-left: 20%;
  width: 1px;

  @include media($large-screen) {
    margin-left: 0;
  }
}

.hero_guiding-light {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: guiding-light;
  animation-timing-function: linear;
  background: map-get($colors, tertiary);
  content: "";
  height: 2rem;
  left: 20%;
  position: absolute;
  top: 0;
  width: 1px;
  transform: translateX(-50%);

  @include media($large-screen) {
    left: 50%;
  }
}
