.hero {
  align-items: center;
  display: flex;
  height: 100vh;
  padding-top: $navigation-height-mobile;

  @include media($small-screen) {
    padding-top: 0;
  }

  @include media($large-screen) {
    height: calc(100vh - #{$navigation-height});
  }
}

.hero--mini {
  height: calc(75vh - #{$navigation-height});
  min-height: 18rem;
  padding: $base-spacing;

  @include media($small-screen) {
    min-height: 26rem;
  }

  @include media($large-screen) {
    max-height: 34rem;
    min-height: 26rem;
  }

  img {
    max-height: 100%;
    margin: 0 auto;
  }
}

.hero--landing {
  text-align: center;

  a[href="#works"]:focus #simple path {
    fill: $action-color;
  }
}

.hero__image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  transform: translateY(-$navigation-height / 2);
  transition: max-width $base-duration;

  @include media($medium-screen) {
    max-width: 75%;
  }

  path {
    transition: fill 500ms;
  }

  #simple:hover path {
    fill: $action-color;
  }
}
