.hero-description {
  align-items: left;
  display: flex;
  flex-direction: column;
  transition: all 250ms ease;

  @include media($large-screen) {
    align-items: center;
  }

  a {
    border-bottom: dashed 1px rgba($base-font-color, 0.5);
    color: inherit;

    &:hover {
      color: $action-color;
      border-color: $action-color;
    }
  }
}

.hero-description__content {
  @include padding(null $base-spacing);
  max-width: $reading-screen;
  text-align: left;

  @include media($x-large-screen) {
    max-width: $reading-screen * 1.15;
    text-align: center;
  }

  @include media($xx-large-screen) {
    max-width: $reading-screen * 1.25;
  }
}
