@use "variables/variables" as *;

.history {
  align-items: left;
  display: flex;
  flex-direction: column;
  margin-bottom: 12rem;

  @media (min-width: $large-screen) {
    align-items: center;
  }
}
