@use "variables/tokens" as *;
@use "variables/variables" as *;

.history-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  @media (min-width: $large-screen) {
    flex-direction: row;
  }
}

.history-item__details {
  display: flex;
  flex-direction: column;
  padding: 1rem 0 0;
  text-align: center;
  width: 50%;

  @media (min-width: $large-screen) {
    padding: 0 1rem 0;
    text-align: left;
  }

  h2 {
    font-size: 1.25rem;
    line-height: 1;
    margin: 0;
  }

  span {
    color: $secondary-font-color;
  }
}

.history-item__filler {
  @media (min-width: $large-screen) {
    width: calc(50% + 2rem);
  }
}

.history-item__image {
  height: 6rem;
  width: 6rem;

  img {
    width: 6rem;
  }
}
