@use "variables/variables" as *;

.image--centered {
  margin: $base-spacing 0;
  text-align: center;
}

img {
  border-radius: $base-border-radius;
}

figure {
  display: block;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
