@use "variables/tokens" as *;
@use "variables/variables" as *;
@use "sass:color";

.jason-ai-chat-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh;
  margin: 0 auto;
  overflow-y: auto;
  padding: $base-spacing $base-spacing $xx-large-spacing;
  position: relative;
  width: 100vw;

  &::before {
    background-color: color.adjust($base-background-color, $alpha: -0.1);
    backdrop-filter: blur(0.5rem);
    -webkit-backdrop-filter: blur(0.5rem);
    bottom: 0;
    content: "";
    display: block;
    height: 6rem;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1;
  }
}
