@use "variables/tokens" as *;
@use "variables/variables" as *;

.jason-ai-navigation {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: $small-spacing;
  height: 3rem;
  justify-content: flex-start;
  left: 0;
  padding: $small-spacing;
  position: fixed;
  right: 0;
  top: $x-small-spacing;
  width: 100%;
  z-index: 2;

  a {
    align-items: center;
    background-color: $base-background-color;
    border: $base-border-style $base-border-width $base-border-color;
    border-radius: $base-border-radius;
    display: flex;
    padding: $x-small-spacing;
    justify-content: center;
  }
}
