@use "variables/tokens" as *;
@use "variables/variables" as *;
@use "variables/colors" as *;

.jason-ai-chat-message {
  font-family: $reading-font-family;
  font-size: $reading-font-size;
  font-weight: $reading-font-weight;
  line-height: $reading-line-height;
  max-width: 80%;
  margin: $base-spacing 0;

  @media (min-width: $large-screen) {
    font-size: $base-font-size;
  }
}

.jason-ai-chat-message--answer {
  align-self: flex-start;
}

.jason-ai-chat-message--question {
  align-self: flex-end;
  background-color: $black;
  color: $warm-white;
  padding: $small-spacing;
  border-radius: 1.25rem;

  .light & a {
    color: $warm-white;
  }
}

.jason-ai-chat-message__actions {
  align-items: center;
  color: $base-font-color;
  display: flex;
  gap: $x-small-spacing;
  height: 16px;
  margin-top: $x-small-spacing;
  opacity: 0.5;
  transition: opacity $base-duration $base-timing;
  width: 100%;

  .jason-ai-chat-message--answer & {
    justify-content: flex-start;
  }

  .jason-ai-chat-message--question & {
    justify-content: flex-end;
  }

  &:hover {
    opacity: 1;
  }

  & *:hover {
    cursor: pointer;
  }

  button {
    padding: 0;

    svg {
      stroke: $base-font-color;
    }

    &:hover svg {
      stroke: $action-color;
    }

    &:disabled svg {
      opacity: 0.1;
      stroke: $base-font-color;

      &:hover {
        cursor: auto;
        opacity: 0.1;
        stroke: $base-font-color;
      }
    }
  }
}

.jason-ai-chat-message__copy {
  .jason-ai-chat-message--question & {
    display: none;
  }
}

.jason-ai-chat-message__confidence-score {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 14px;
  font-family: $code-font-family;
  transition: all $base-duration $base-timing;

  &:hover {
    color: $action-color;
    cursor: pointer;
  }
}

.jason-ai-chat-message__source-links {
  display: flex;
  flex-direction: row;
  margin: $x-small-spacing 0 $small-spacing;
  max-width: 80%;
  flex-wrap: wrap;

  @media (min-width: $medium-screen) {
    max-width: 50%;
  }
}
