@use "variables/tokens" as *;
@use "variables/variables" as *;
@use "variables/colors" as *;

.jason-ai-title-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("jason-ai-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: $base-border-radius * 4;
  height: 25vh;
  margin-bottom: $x-large-spacing;
  min-height: 20rem;
  width: 100%;

  .light & {
    box-shadow: 1rem -1rem 2rem rgba(0, 30, 255, 0.2),
      -2rem -1rem 3rem rgba(55, 255, 188, 0.2),
      1rem 1rem 2rem rgba(39, 18, 231, 0.2),
      -1rem 1rem 2rem rgba(31, 29, 100, 0.2);
  }

  .dark & {
    box-shadow: 1rem -1rem 2rem rgba(21, 26, 66, 0.05),
      -2rem -1rem 3rem rgba(40, 119, 93, 0.1),
      1rem 1rem 2rem rgba(31, 23, 108, 0.1),
      -1rem 1rem 2rem rgba(33, 31, 82, 0.1);
  }

  img {
    transform: translateY(0.5rem);
    width: 50%;
  }
}

.jason-ai-title-image--small {
  height: 6rem;
  min-height: 6rem;
  margin: 0 auto;
  width: 10rem;

  .light &,
  .dark & {
    box-shadow: none;
  }
}

.jason-ai-title-image__text {
  color: $warm-white;
  font-family: $code-font-family !important;
  text-transform: none !important;
  font-size: 3rem;
  letter-spacing: -0.1rem;
  font-weight: 600;

  .jason-ai-title-image--small & {
    font-size: 1.25rem;
  }
}
