@use "variables/tokens" as *;
@use "variables/variables" as *;
@use "sass:color";

.jason-ai-mobile-nav-trigger {
  align-items: center;
  background-color: color.adjust($base-background-color, $alpha: -0.1);
  border-radius: $base-border-radius;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: $small-spacing;
  transition: all $base-duration;
  z-index: 10;
}
