@use "variables/variables" as *;

.large-ordered-list {
  counter-reset: counts;
  list-style: none;
  padding-left: 0;

  li {
    counter-increment: count;
    padding-left: $large-spacing;
    margin-bottom: $medium-spacing;
    position: relative;
  }

  li::before {
    content: counter(count, decimal) ". ";
    bottom: 0;
    font-family: $heading-font-family;
    font-size: 1.17em;
    font-weight: bold;
    left: 0;
    line-height: 1.4;
    position: absolute;
    right: 0;
    top: 0;
  }

  h3 {
    display: inline;
  }
}
