@use "variables/tokens" as *;
@use "sass:color";

.leading-line {
  height: 15vh;
  width: 100%;

  &::after {
    background-color: $base-border-color;
    content: " ";
    display: block;
    height: 100%;
    margin: 0 auto;
    width: 1px;
  }
}

.leading-line--large {
  height: 30vh;
}
