.leading-line {
  background-color: lighten($base-background-color, 20%);
  height: 6rem;
  margin-left: 20%;
  width: 1px;

  @include media($large-screen) {
    margin-left: 0;
  }
}

.leading-line--large {
  height: 12rem;
}
