.link {
  align-items: center;
  display: inline-flex;
  transition-duration: $base-duration;
  transition-timing-function: $base-timing;
  transition: color, stroke;

  svg {
    height: $base-font-size;
    margin-right: $x-small-spacing;
    width: auto;
  }

  &:hover {
    color: $action-color;

    path {
      fill: $action-color;
    }
  }
}
