@use "variables/tokens" as *;
@use "variables/variables" as *;

.link {
  align-items: center;
  display: inline-flex;
  color: $base-font-color;
  text-decoration-color: $action-color;
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
  text-decoration-thickness: $link-text-decoration-thickness;
  text-underline-offset: $link-text-underline-offset;
  transition-duration: $base-duration;
  transition-timing-function: $base-timing;
  transition: color, stroke;

  svg {
    transform: translateY(-2px);
    height: 20px;
    margin-right: $x-small-spacing;
    width: auto;
  }

  &:hover {
    color: $action-color;
  }
}
