@use "variables/tokens" as *;
@use "variables/variables" as *;
@use "variables/colors" as *;
@use "sass:color";

.modal {
  align-items: center;
  background-color: color.adjust($black, $alpha: 0.25);
  backdrop-filter: blur(8px) brightness(1);
  bottom: 0;
  box-shadow: 0 0 2rem 0 color.adjust($black, $alpha: 0.25);
  display: none;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 200;
  -webkit-backdrop-filter: blur(8px) brightness(0.8);
}

.modal--open {
  display: flex;
}

.modal__container {
  background-color: color.adjust($base-background-color, $alpha: 0.25);
  border-radius: $base-border-radius;
  max-height: 90vh;
  max-width: 90vw;
  overflow-y: auto;
  position: relative;
  width: 100%;

  @media (min-width: $medium-screen) {
    max-width: $medium-screen;
  }
}

.modal__header {
  display: flex;
  justify-content: space-between;
  padding: 0 $base-spacing;
  border-bottom: $base-border-style $base-border-width $base-border-color;
}

.modal__close-button {
  padding: $base-spacing;
  position: absolute;
  right: $x-small-spacing;
  top: $x-small-spacing;

  svg {
    cursor: pointer;
    stroke: $base-font-color;

    &:hover {
      stroke: $action-color;
    }
  }
}

.modal__content {
  padding: $base-spacing;
}

.modal__actions {
  border-top: $base-border-style $base-border-width $base-border-color;
  padding: $base-spacing;
}
