.navigation--left {
  float: left;
}

.navigation--right {
  float: right;
}

.navigation--mobile-trigger-icon::after {
  @include position( absolute, 1.25rem 1.5rem null null);
  content: $hamburger-icon;
  font-size: 1.5rem;

  @include media($medium-screen) {
    content: "";
  }
}

.navigation__links {
  list-style-type: none;
  margin: 0;
  padding: 0;

  .navigation--right & {
    @include media(max-width $medium-screen) {
      @include position(fixed, $navigation-height-mobile -120% 0 120%);
      align-items: center;
      background-color: $white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: left $base-duration, right $base-duration;
      z-index: 1;

      li {
        margin: 0;
        padding: $base-spacing;
      }
    }
  }

  .navigation__mobile-trigger:checked + & {
    @include media(max-width $medium-screen) {
      @include position(absolute, $navigation-height-mobile 0 null 0);
      height: calc(100vh - #{$navigation-height-mobile});
    }
  }
}

.navigation__link {
  character-spacing: 0.05rem;
  color: $base-font-color;
  display: inline;
  font-family: $heading-font-family;
  font-size: $small-font-size;
  font-weight: bold;
  text-transform: uppercase;

  & + & {
    margin-left: $base-spacing;
  }

  a {
    color: $base-font-color;
  }

  a:active,
  a:focus,
  a:hover {
    color: $action-color;

    svg {
      path {
        transition: all 250ms;
        fill: $action-color;
      }
    }
  }

  svg {
    @include size($base-font-size);
    margin-left: $small-spacing / 2;
    vertical-align: text-top;

    path {
      transition: all 250ms;
    }
  }
}

.navigation__mobile-trigger {
  @include position(absolute, null 1rem null null);
  @include size(2rem);
  cursor: pointer;
  opacity: 0;
  z-index: 1;

  @include media($medium-screen) {
    display: none;
  }
}
