@use "variables/tokens" as *;
@use "variables/variables" as *;
@use "sass:color";

.navigation {
  align-items: center;
  background-color: $base-background-color;
  border-bottom: $base-border-style $base-border-width $base-border-color;
  display: flex;
  height: $navigation-height-mobile;
  justify-content: space-between;
  padding: 0 $base-spacing;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $z-index-drawers;

  @media ($medium-screen) {
    height: $navigation-height;
  }
}

.navigation--left {
  flex-grow: 1;
}

.navigation--mobile-trigger-icon::after {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  content: $hamburger-icon;
  font-size: 1.5rem;
  transform: translateY(-55%);

  @media (min-width: $medium-screen) {
    content: "";
  }
}

.navigation__links {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    margin-bottom: 0;
  }

  .navigation--right & {
    @media (max-width: $medium-screen) {
      position: fixed;
      top: calc($navigation-height-mobile - 120%);
      right: 120%;
      align-items: center;
      background-color: $base-background-color;
      display: flex;
      flex-direction: column;
      height: calc(100vh - #{$navigation-height-mobile});
      justify-content: center;
      padding-bottom: 5vh;
      transition: left $base-duration, right $base-duration;
      z-index: 1;

      li {
        margin: 0;
        padding: $base-spacing;
      }
    }
  }

  .navigation__mobile-trigger:checked + & {
    @media (max-width: $medium-screen) {
      position: fixed;
      top: $navigation-height-mobile;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}

.navigation__link {
  align-items: center;
  color: $base-font-color;
  display: flex;
  font-family: $heading-font-family;
  font-size: $base-font-size;
  font-weight: 600;
  text-transform: uppercase;

  @media (min-width: $medium-screen) {
    font-size: $small-font-size;
  }

  & + & {
    margin-left: $base-spacing;
  }

  a {
    align-items: center;
    display: flex;
    text-decoration: none;
  }

  svg {
    height: $base-font-size;

    @media (min-width: $medium-screen) {
      height: $small-font-size;
    }

    path {
      fill: color.adjust($base-font-color, $alpha: 0.6);
    }
  }

  &:hover {
    cursor: pointer;

    svg {
      path {
        fill: $action-color;
      }
    }
  }
}

.navigation__link--fixed {
  position: fixed;
  top: $base-spacing;
  right: $base-spacing;
}

.navigation__mobile-trigger {
  cursor: pointer;
  height: 2rem;
  opacity: 0;
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  width: 2rem;
  z-index: 1;

  @media (min-width: $medium-screen) {
    display: none;
  }
}
