@use "variables/tokens" as *;
@use "variables/variables" as *;
@use "sass:color";

.navigation-primary {
  align-items: center;
  background-color: $base-background-color;
  box-sizing: border-box;
  display: flex;
  height: $navigation-height-mobile;
  justify-content: space-between;
  max-width: $large-screen;
  margin: 0 auto;
  padding: $small-spacing;

  @media (min-width: $medium-screen) {
    height: $navigation-height;
    padding: $base-spacing;
  }
}

.navigation-primary--side {
  align-items: flex-start;
  border-right: $base-border-width $base-border-style $base-border-color;
  display: none;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  left: 0;
  margin: unset;
  position: fixed;
  top: 0;
  width: $sidebar-width;
  z-index: 1;

  @media (min-width: $medium-screen) {
    display: flex;
  }
}

.navigation-primary__left {
  flex-grow: 1;

  .navigation-primary--side & {
    flex-grow: 0;
  }
}

.navigation-primary__right {
  display: none;

  @media (min-width: $medium-screen) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navigation-primary--side & {
    height: 100%;
  }
}

.navigation-primary__links {
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  .navigation-primary--side & {
    align-items: flex-start;
    flex-direction: column;
  }

  &:hover {
    cursor: pointer;
  }
}

.navigation-primary__link {
  align-items: center;
  color: $base-font-color;
  display: flex;
  font-family: $heading-font-family;
  font-size: $small-font-size;
  font-weight: 600;
  text-transform: uppercase;

  .navigation-primary__left & {
    margin-right: $base-spacing;
  }

  .navigation-primary__right & {
    margin-left: $base-spacing;
  }

  .navigation-primary--side & {
    margin: $base-spacing 0 0;
    font-weight: 500;
    font-size: $x-small-font-size;
  }

  a {
    align-items: center;
    color: $base-font-color;
    display: flex;
    text-decoration: none;
  }

  svg {
    stroke: $base-font-color;
  }

  .theme-toggle-button {
    align-items: center;
    display: flex;
    justify-content: center;
    transform: translateY(-1px);
  }
}

.navigation-primary__link--logo {
  padding-bottom: $base-spacing;

  svg {
    height: 1.5rem;
    stroke: none;
    width: 1.5rem;
  }
}
