@use "variables/tokens" as *;
@use "variables/variables" as *;

.post-meta {
  align-items: start;
  display: flex;
  flex-direction: column;
  font: $base-font-family;
  gap: $large-spacing;
  justify-content: flex-start;
  margin: $x-large-spacing 0 $x-large-spacing;
}

.post-meta__title {
  font-family: $heading-font-family;
  font-weight: $title-font-weight;
  line-height: $heading-line-height * 0.9;
  text-transform: capitalize;
}

.post-meta__stats {
  display: flex;
  flex-direction: column;

  p {
    margin-bottom: 0;
  }
}

.post-meta__published {
  font-family: $code-font-family;
}

.post-meta__updated {
  font-family: $code-font-family;
}

.post-meta__subtitle,
.post-meta__description {
  font-size: 1.5rem;
  font-weight: $reading-font-weight;
  margin: 0;
  width: 100%;
}
