.post-meta {
  align-items: center;
  display: flex;
  font: $base-font-family;
  justify-content: flex-start;
  margin-bottom: $x-large-spacing;

  form {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }
}

.post-meta__avatar {
  border-radius: 3rem;
  height: 3rem;
  width: 3rem;

  .post-meta & {
    margin: 0 $small-spacing 0 0;
  }
}

.post-meta__stats {
  display: flex;
  flex-direction: column;
}

.post-meta__published {
  font-weight: bold;
  font-family: $base-font-family;
}

.post-meta__updated {
  font-family: $base-font-family;
}

