@use "variables/tokens" as *;
@use "variables/variables" as *;

.post-sample {
  align-items: top;
  color: $base-font-color;
  margin: 0 0 $x-large-spacing;
  padding-bottom: $base-spacing;
  text-decoration: none;
}

.post-sample__title {
  text-transform: capitalize;
  margin-bottom: $small-spacing;

  a {
    text-decoration: none;
  }
}

.post-sample__hashtag {
  display: inline-flex;
  margin-bottom: $small-spacing;
  text-decoration: none;
}

.post-sample__date {
  font-family: $code-font-family;
}
