.post-title {
  font-size: 3rem;
  margin-top: 0;
  text-transform: capitalize;

  @include media($medium-screen) {
    font-size: 4rem;
  }
}

.post-title__image-container {
  display: flex;

  svg {
    height: 5rem;
    width: auto;
    margin-bottom: $x-large-spacing;
  }
}
