.post-title {
  font-family: $heading-font-family;
  font-size: 3rem;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height * .9;
  margin-bottom: $x-large-spacing;
  text-transform: capitalize;

  @include media($medium-screen) {
    font-size: 4rem;
  }
}

.post-title__image-container {
  display: flex;

  svg {
    height: 5rem;
    width: auto;
    margin-bottom: $x-large-spacing;
  }
}
