.post-search {
  padding-bottom: $large-spacing;
}

.post-search__form {
  align-items: center;
  display: flex;
  justify-content: space-between;

  input {
    flex-grow: 0;
    margin-bottom: 0;
  }

  a {
    flex-grow: 1;
    margin-left: $small-spacing;
    padding: ($x-small-spacing * 1.5) $small-spacing;
  }
}

.post-search__results {
  margin-top: $base-spacing;
}
