@use "variables/variables" as *;
@use "variables/tokens" as *;

.post-search {
  padding-bottom: $large-spacing;
}

.post-search__form {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  a {
    margin-left: $small-spacing;
  }

  input[type="search"] {
    border-radius: $base-border-radius;
    margin-bottom: 0;
    //margin: 0 $small-spacing 0 0;

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
      appearance: none;
    }
  }
}

.post-search__results {
  margin-top: $base-spacing;
}
