@use "variables/variables" as *;
@use "variables/colors" as *;

.post-video {
  border-radius: 1rem;
  box-shadow: 0 1.5rem 2rem $black;
  margin-bottom: 10vh;
  padding-bottom: 64%;
  position: relative;

  .post-video__video {
    border-radius: 1rem;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}
