.post-sample {
  align-items: top;
  border-bottom: 1px solid $light-border-color;
  color: $base-font-color;
  display: flex;
  justify-content: space-between;
  margin: 20vh 0 $large-spacing;
  padding-bottom: $base-spacing;
  text-decoration: none;

  & + .post-sample {
    margin-top: 0;
  }
}

.post-sample__title {
  padding-right: $base-spacing;
  line-height: 1.7;

  a {
    border-bottom: dashed 1px rgba($base-font-color, 0.5);

    &:hover {
      color: $action-color;
      border-color: $action-color;
    }
  }
}

.post-sample__date {
  color: rgba($black, 0.25);
  line-height: 2.2;
}
