@use "variables/variables" as *;
@use "variables/tokens" as *;

.post-search {
  padding-bottom: $large-spacing;
}

.post-search__form {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  input[type="search"] {
    border-radius: $base-border-radius;
    margin: 0 $small-spacing 0 0;
  }

  a {
    flex-grow: 1;
    margin-left: $small-spacing;
    padding: ($x-small-spacing * 1.5) $small-spacing;
  }
}

.post-search__results {
  margin-top: $base-spacing;
}
