.post {
  font-family: $reading-font-family;
  font-size: $reading-font-size;
  font-weight: $reading-font-weight;
  line-height: $reading-line-height;
  transition: all 250ms ease;

  h1,
  h2,
  h3 {
    margin-bottom: 0.5em;
    margin-top: 1.5em;
    word-wrap: break-word;
  }

  hr {
    margin: $x-large-spacing 0;
  }

  img {
    margin: 0 auto;
  }

  p,
  table {
    margin-bottom: $reading-paragraph-spacing / 1.2;

    @include media($large-screen) {
      margin-bottom: $reading-paragraph-spacing;
    }
  }

  p:has(img + img) {
    display: flex;

    @media (max-width: $large-screen) {
      flex-direction: column;
      margin-bottom: 0;
    }

    img {
      @media (max-width: $large-screen) {
        margin-bottom: $base-spacing;
      }

      @media (min-width: $large-screen) {
        margin-right: $base-spacing;
        width: calc(50% - (#{$base-spacing} / 2 ));
      }
    }
  }

}

.content__title {
  font-size: 6rem;
}
