@use "variables/tokens" as *;
@use "variables/variables" as *;

.reading-progress-bar {
  background-color: $action-color;
  height: 0.25rem;
  left: 0;
  position: sticky;
  top: $navigation-height-mobile;
  transition: width 100ms;
  width: 0%;
  z-index: 1;

  @media ($small-screen) {
    top: 0;
  }
}
