[data-js-reading-progress-bar] {
  @include position("sticky", $navigation-height-mobile null null 0);
  background-color: $action-color;
  height: 0.25rem;
  position: sticky;
  transition: width 100ms;
  width: 0%;
  z-index: 1;

  @include media($small-screen) {
    top: 0;
  }
}
