.site-footer {
  border-top: 1px solid rgba($black, 0.075);
  padding: ($large-spacing * 2) 0;
  text-align: center;
}

.site-footer__image {
  margin-bottom: 1rem;
  max-height: 2rem;
  max-width: 8rem;
}
