.site-footer {
  border-top: $base-border;
  padding: $xx-large-spacing 0;
  text-align: center;
}

.site-footer__links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.site-footer__link {
  character-spacing: 0.05rem;
  color: $base-font-color;
  display: block;
  font-family: $heading-font-family;
  font-size: $small-font-size;
  font-weight: bold;
  text-transform: uppercase;

  @include media($small-screen) {
    display: inline;
    margin: $small-spacing;
  }

  a {
    text-decoration: none;
  }
}
