@use "variables/tokens" as *;
@use "variables/variables" as *;
@use "sass:color";

.site-footer {
  border-top: $base-border-style $base-border-width
    color.adjust($base-border-color, $alpha: -0.1);
  padding: $xx-large-spacing 0;
  text-align: center;
}

.site-footer__links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.site-footer__link {
  color: $base-font-color;
  display: block;
  font-family: $heading-font-family;
  font-size: $base-font-size;
  font-weight: 600;
  text-transform: uppercase;

  @media (min-width: $small-screen) {
    display: inline;
    margin: $small-spacing;
  }

  @media (min-width: $medium-screen) {
    font-size: $small-font-size;
  }

  a {
    text-decoration: none;
  }
}
