.site-header {
  @include clearfix;
  @include position(fixed, 0 0 null 0);
  background-color: $base-background-color;
  height: $navigation-height-mobile;
  margin: 0 auto;
  max-width: $large-screen;
  padding: $base-spacing;
  z-index: 1;

  @include media($small-screen) {
    background-color: transparent;
    position: relative;
  }

  @include media($large-screen) {
    height: $navigation-height;
    padding: $large-spacing 0;
  }
}
