.sky-label {
  margin: $base-spacing 0;
  position: relative;
}

.sky-label input {
  margin-bottom: $base-spacing * 1.25;
}

.sky-label label {
  @include position(absolute, 0 null null 0);
  color: $sky-labels-color;
  cursor: text;
  padding: 1rem;
  transition-property: background-color color left opacity top transform;
  transition-duration: $base-duration;
}

.sky-label-focused label,
.sky-label-has-text label {
  cursor: default;
  left: -(1rem);
  top: -($base-spacing * 1.65);
}

.sky-label-has-text label {
  opacity: 0;
}

.sky-label-has-text.sky-label-focused label {
  opacity: 1;
}
