@use "variables/tokens" as *;
@use "variables/variables" as *;

.sky-label {
  margin: $base-spacing 0;
  position: relative;
}

.sky-label input {
  margin-bottom: $base-spacing * 1.25;
}

.sky-label label {
  color: $secondary-font-color;
  cursor: text;
  left: 0;
  line-height: $sky-label-line-height;
  padding: 1rem;
  position: absolute;
  top: 0;
  transition-property: background-color color left opacity top transform;
  transition-duration: $base-duration;
}

.sky-label-focused label,
.sky-label-has-text label {
  color: $secondary-font-color;
  cursor: default;
  left: -(1rem);
  top: -($base-spacing * 1.65);
}

.sky-label-has-text label {
  opacity: 0;
}

.sky-label-has-text.sky-label-focused label {
  opacity: 1;
}
