.work-link {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  margin-bottom: $xx-large-spacing;
  text-decoration: none;
  transition-duration: $base-duration;
  transition-timing-function: $base-timing;
  transition: color;

  &:hover {
    color: currentColor;

    * {
      color: currentColor;
    }

    img {
      box-shadow: 0 0 2rem 0rem rgba($action-color, 0.75);
    }
  }
}

.work-link__image-container {
  aspect-ratio: 16 / 9;
  border-bottom: 0;
  border-radius: $base-border-radius;
  display: flex;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  width: 100%;
}

.work-link__title {
  margin-top: 3.5rem;
  font-weight: $reading-font-weight;
}

.work-link__protected {
  @include position(absolute, null -0.25rem -0.25rem null);
  background-color: $base-background-color;
  border-radius: $base-font-size;
  display: flex;
  font-size: $small-font-size;
  padding: $x-small-spacing;
}

.work-link__description {
  font-weight: $reading-font-weight;
  letter-spacing: $reading-letter-spacing;
  width: 100%;

  @include media($medium-screen) {
    width: 75%;
  }
}

.work-link__video-container {
  aspect-ratio: 16 / 9;
  border-bottom: 0;
  border-radius: $base-border-radius;
  display: flex;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  width: 100%;
}

.work-link__video {
  border-bottom: 0;
  display: flex;
  text-decoration: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.work-link__logo-overlay {
  @include position(absolute, 50% null null 50%);
  z-index: 1;

  svg {
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
  }
}
