@use "variables/tokens" as *;
@use "variables/variables" as *;
@use "sass:math";

.work-footer-navigation {
  padding: 0 $base-spacing;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  max-width: $reading-screen;
  transition: all 250ms ease;
  width: 100%;

  @media (min-width: $large-screen) {
    padding: 0 0;
    flex-direction: row;
    gap: $medium-spacing;
  }

  @media (min-width: $x-large-screen) {
    max-width: $reading-screen * 1.15;
  }

  @media (min-width: $xx-large-screen) {
    max-width: $reading-screen * 1.25;
  }
}

.work-footer-navigation__link {
  color: $base-font-color;
  display: flex;
  flex-direction: column;
  font-weight: normal;
  line-height: math.div($reading-line-height, 1.2);
  text-decoration: none;
  width: 100%;

  &.left {
    @media (min-width: $large-screen) {
      align-items: flex-start;
      width: 50%;
    }
  }

  &.right {
    margin-top: $x-large-spacing;

    @media (min-width: $large-screen) {
      margin-top: 0;
      align-items: flex-end;
      text-align: right;
      width: 50%;
    }
  }

  &:focus,
  &:hover {
    color: $action-color;

    svg {
      path {
        fill: $action-color;
      }
    }
  }

  svg {
    display: flex;
    height: $small-font-size;
    width: auto;
    align-self: flex-start;

    @media (min-width: $large-screen) {
      align-self: auto;
    }
  }

  p {
    font-family: $reading-font-family;
    font-size: $base-font-size;
    width: 85%;
  }
}
