.work-page-navigation {
  @include position(fixed, 0 null 0 null);
  transition-duration: 250ms;
  transition-property: transform box-shadow background-color;
  width: #{$work-page-navigation-width};
  visibility: hidden;
  z-index: $z-index-highest;

  @include media($medium-screen) {
    visibility: visible;
  }

  &:hover {
    background-color: $white;
    box-shadow: 0 0 5rem rgba($black, 0.125);
  }

  a {
    @include size(100%);
    align-items: center;
    display: flex;
  }
}

.work-page-navigation--left {
  left: -#{$work-page-navigation-width};
  transform: translateX(3.5rem);

  &:hover {
    left: 0;
    transform: translateX(0);
  }
}

.work-page-navigation--right {
  right: -#{$work-page-navigation-width};
  transform: translateX(-3.5rem);

  &:hover {
    right: 0;
    transform: translateX(0);
  }
}

.work-page-navigation__details {
  flex-grow: 1;
  padding: 0 $base-spacing;

  .content {
    max-width: 320px;
  }

  h3,
  h5 {
    color: $black;
    margin-top: 0;
  }

  p {
    color: $black;
    font-weight: normal;
  }
}

.work-page-navigation__tab {
  padding: $base-spacing;

  img {
    @include size(0.85rem);
    max-width: initial;
  }
}
