.works:not(body) {
  @include clearfix;
  margin: 0 auto 6rem;
  max-width: $large-screen;
  list-style-type: none;
  padding: 0;
}

.work {
  margin-bottom: 1rem;
  padding: 0;
  text-align: center;

  @include media($medium-screen) {
    @include omega(2n);
    @include span-columns(6);
  }
}

.work__image {
  display: block;
  position: relative;

  &::after {
    @include position(absolute, null 50% 0 50%);
    background-color: $blue;
    border-radius: 4px;
    content: "";
    height: 4px;
    transition-duration: $base-duration;
    transition-property: left, right;
  }

  &:hover::after {
    left: 5rem;
    right: 5rem;
  }

  &.filled {
    @include svg-fill($base-font-color, $action-color);
  }

  &.filled-and-stroked {
    @include svg-fill-and-stroke($base-font-color, $action-color);
  }

  &.stroked {
    @include svg-stroke($base-font-color, $action-color);
  }

  ellipse,
  path,
  polygon {
    transition: all $base-duration;
  }
}
