@use "variables/tokens" as *;
@use "variables/variables" as *;
@use "mixins/media" as *;

.work-link {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  margin-bottom: $xx-large-spacing;
  text-decoration: none;
  transition-duration: $base-duration;
  transition-timing-function: $base-timing;
  transition: color, transform;

  &:hover {
    color: currentColor;

    * {
      color: currentColor;
    }
  }
}

.work-link__image-container {
  aspect-ratio: 16 / 9;
  border-bottom: 0;
  display: flex;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  width: 100%;
}

.work-link__image {
  border-radius: $large-border-radius;
}

.work-link__title {
  margin-top: 3.5rem;
  margin-bottom: $base-spacing;

  &:hover {
    color: $action-color;
  }
}

.work-link__subtitle {
  font-family: $code-font-family;
  margin-top: 0;
  margin-bottom: $base-spacing;
}

.work-link__protected {
  background-color: $base-background-color;
  border-radius: $base-font-size;
  display: flex;
  font-size: $small-font-size;
  padding: $x-small-spacing;
  position: absolute;
  right: -0.25rem;
  top: -0.25rem;
}

.work-link__audio {
  align-items: center;
  display: inline-flex;
  font-family: $code-font-family;
  gap: $x-small-spacing;

  svg {
    height: $base-font-size;
    width: $base-font-size;
  }
}

.work-link__description {
  width: 100%;

  @media ($medium-screen) {
    width: 75%;
  }
}

.work-link__video-container {
  aspect-ratio: 16 / 9;
  border-bottom: 0;
  border-radius: $base-border-radius;
  display: flex;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  width: 100%;
}

.work-link__video {
  border-bottom: 0;
  display: flex;
  text-decoration: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.work-link__logo-overlay {
  left: 50%;
  position: absolute;
  top: 50%;
  z-index: $base-z-index;

  svg {
    height: 60%;
    transform: translate(-50%, -50%);
    width: 60%;
  }
}
