@use "variables/variables" as *;

.work-image-container {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  flex-shrink: 0;
  height: auto;
}

.work-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img,
  video {
    border-radius: $base-border-radius;
    pointer-events: none;
    user-select: none;
    max-width: $large-screen;
    width: calc(100% - #{$base-spacing});
  }

  figcaption {
    margin-top: $small-spacing;
    max-width: $reading-screen;
  }
}

.work-video {
  display: block !important;
  height: auto !important;
  margin: 0 auto !important;
  max-width: 800px !important;
  width: 100% !important;
}
