.work-carousel-actions {
  align-items: center;
  justify-content: center;
  padding-top: $small-spacing;
  padding-left: 0;
  padding-bottom: $base-spacing;

  a {
    line-height: 0;
  }

  svg {
    height: 1.75rem;
    width: auto;
  }
}
