.work-focus {
  border-bottom: $base-border;
  border-top: $base-border;
  margin: $x-large-spacing 0;
  padding: $medium-spacing 0;

  ul.minimal-unordered-list {
    padding-left: 0;
  }
}

.work-focus--small {
  li,
  ol,
  p,
  strong {
    font-size: $base-font-size;
  }
}

.work-focus__header {
  margin-top: $reading-paragraph-spacing / 1.2;
  margin-bottom: $base-spacing;
}

.work-focus__grid {
  column-count: 2;

  @media (min-width: $large-screen) {
    column-count: 3;
  }

  ul {
    break-inside: avoid-column;
    margin-bottom: $large-spacing;
    margin-top: 0;
  }
}
