ul.works {
  @include clearfix;
  margin: -($navigation-height) auto 0;
  max-width: $large-screen;
  padding: $navigation-height 0 6rem;
}

.work {
  @include transition(all, $base-duration);

  &:hover {
    opacity: 0.65;
    transform: translateY(-0.25rem);
  }

  @include media($medium-screen) {
    @include omega(2n);
    @include span-columns(6);
  }

  a {
    display: flex;
    justify-content: center;
    min-height: 9rem;
  }
}
