.navigation {
  @include clearfix;
  @include transition(all, $base-duration);
  @include position(absolute, 0px 0px null 0px);
  padding: 2rem;
  text-align: center;

  .logo {
    float: left;
  }

  .links {
    float: right;
  }

  a {
    color: $medium-gray;
  }

  a:hover {
    color: $action-color;
  }
}
