.navigation {
  @include clearfix;
  @include transition(all, $base-duration);
  padding: 2rem;
  text-align: center;

  a {
    color: $medium-gray;
    text-transform: uppercase;
  }

  a:hover {
    color: $action-color;
  }
}
