
<header class="content content--reading">
  <div class="post-meta">
    <div class="post-title__image-container">
      <%= image_tag "works/ai-tooling-for-providers-title-card.png" %>
    </div>

    <div class="post-meta__title">AI Tooling for Providers</div>

    <h2 class="post-meta__subtitle">Grow, 2025</h2>

    <h2 class="post-meta__description">
      How we built intelligent AI tools that empowered healthcare providers to
      deliver better patient care while reducing administrative burden and
      improving clinical outcomes.
    </h2>
  </div>
</header>

<article class="content content--reading post">
  <h1>
    🤝
  </h1>
</article>
