<div data-js-reading-progress-bar></div>

<article class="content content--reading post">
  <div class="post-title">
    <div class="post-title__image-container">
      <%= inline_svg "works/grow-marketplace-excellence-title-card.png" %>
    </div>
    Marketplace Excellence
  </div>

  <h2>
    Grow, 2025
  </h2>

  <h2>
    How we grew the Marketplace to $100M+ in annual recurring revenue by
    focusing on user experience, strategic partnerships, and data-driven
    optimization.
  </h2>

  <h1>
    🤝
  </h1>
</article>
