
<article class="content content--reading post">
  <h1 class="post-title">
    <div class="post-title__image-container">
      <%= inline_svg "works/dropbox-work-logo.svg" %>
    </div>
    Title
  </h1>

  <h2 class="u-margin-bottom-x-large">
    Teaser
  </h2>

  <div>
    <ol>
      <li>
        <a href="#background">Background</a>
      </li>

      <li>
        <a href="#planning">Planning</a>
      </li>

      <li>
        <a href="#designing">Designing</a>
      </li>

      <li>
        <a href="#impact">Impact</a>
      </li>

      <li>
        <a href="#challenges">Challenges</a>
      </li>

      <li>
        <a href="#learnings">Learnings</a>
      </li>

      <li>
        <a href="#closing">Closing</a>
      </li>
    </ul>
  </div>
</article>

<article class="content content--reading post">
  <a name="background"></a>
  <h1>
    Background
  </h1>

  <p>
  </p>

  <div class="work-focus work-focus--small">
    <header class="work-focus__header">
      <h3>
        Contributors
      </h3>
    </header>

    <div class="work-focus__grid">
    </div>
  </div>

  <a name="planning"></a>
  <h1>
    Planning
  </h1>

  <p>
  </p>

  <a name="designing"></a>
  <h1>
    Designing
  </h1>

  <p>
  </p>
</article>

<section data-controller="carousel" class="carousel">
  <div data-js-carousel-cards-placeholder class="carousel__cards-placeholder"></div>
  <div data-js-carousel-cards class="carousel__cards">
    <% (1..10).each do |index| %>
      <figure data-js-carousel-card
        class="carousel__card work-carousel-card">
        <%= image_tag "works/feature-validation-process-#{index}.png" %>
      </figure>
      <figcaption>
      </figcaption>
    <% end %>
  </div>

  <%= render "carousels/actions" %>
</section>

<article class="content content--reading post">
  <a name="impact"></a>
  <h1>
    The Impact
  </h1>

  <p>
  </p>

  <a name="challenges"></a>
  <h1>
    The Challenges
  </h1>

  <p>
  </p>

  <a name="learnings"></a>
  <h1>
    Learnings
  </h1>

  <p>
  </p>

  <a name="closing"></a>
  <h1>
    Closing
  </h1>

  <p>
  </p>

  <h1>
    🤝
  </h1>
</article>
