<div data-controller="navigation-drawer"
  data-navigation-drawer-open-class="navigation-drawer--open"
  data-navigation-drawer-closed-class="navigation-drawer--closed"
  data-action="keydown@window->navigation-drawer#keydown">

  <% unless controller_name == 'jason_ai' %>
    <%= render "navigation_primary" %>
  <% end %>

  <%= render "navigation_drawer" %>
</div>
