<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#181923">
    <title><%= @document&.title || "Document" %></title>
    <%= stylesheet_link_tag "documents", "data-turbo-track": "reload" %>
  </head>
  <body>
    <div class="document">
      <%= yield %>
    </div>
  </body>
</html>
