<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#181923">
    <title>Jason Ramirez - Resume</title>
    <%= stylesheet_link_tag "application_light", "data-turbo-track": Rails.env.production? ? "reload" : nil %>
    <%= csrf_meta_tags %>
  </head>
  <body class="light resume">
    <%= yield %>
  </body>
</html>
