@keyframes guiding-light {
  0% {
    background: lighten(#121212, 50%);
    opacity: 0;
    top: 0;
    width: 1px;
  }

  90% {
    background: lighten(#121212, 90%);
    opacity: 1;
    top: 92%;
    width: 3px;
  }

  100% {
    opacity: 0;
    top: 95%;
    width: 3px;
  }
}
