@keyframes guiding-light {
  0% {
    background: lighten(#121212, 50%);
    opacity: 0;
    top: 0;
  }

  50% {
    background: lighten(#121212, 90%);
    opacity: 1;
    top: calc(50% - 2rem);
  }

  100% {
    opacity: 0;
    top: calc(100% - 2rem);
  }
}
