@mixin svg-fill($color, $hover-color) {
  ellipse,
  path,
  polygon {
    fill: $black;
  }

  &:hover {
    ellipse,
    path,
    polygon {
      fill: $action-color;
    }
  }
}

@mixin svg-fill-and-stroke($color, $hover-color) {
  ellipse,
  path,
  polygon {
    fill: $black;
    stroke: $black;
  }

  &:hover {
    ellipse,
    path,
    polygon {
      fill: $action-color;
      stroke: $action-color;
    }
  }
}

@mixin svg-stroke($color, $hover-color) {
  ellipse,
  path,
  polygon {
    stroke: $black;
  }

  &:hover {
    ellipse,
    path,
    polygon {
      stroke: $action-color;
    }
  }
}
