// Typography
$base-font-family: "Open Sans", sans-serif;
$heading-font-family: "averta", sans-serif;
$button-font-family: $heading-font-family;
$blockquote-font-family: $base-font-family;
$code-font-family: "Inconsolata", sans-serif;
$reading-font-family: "Merriweather", serif;

// Font Sizes
$base-font-size: 1rem;
$small-font-size: 0.85rem;
$reading-font-size: 1.2rem;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;
$reading-line-height: 1.9;

// Other Sizes
$base-border-radius: 3px;
$reading-paragraph-spacing: 1.5rem;
$base-z-index: 0;
$navigation-height: 8rem;
$navigation-height-mobile: 4rem;

// Spacing
$small-spacing: $base-line-height / 2;
$base-spacing: $base-line-height * 1rem;
$large-spacing: $base-line-height * 2rem;
$x-large-spacing: $base-line-height * 4rem;

// Colors
$black: #000;
$blue: #341ef9;
$light-gray: #ddd;
$code-gray: #f8f8f8;
$medium-gray: #999;
$mine-shaft: #313131;
$tamed-blue: tint($blue, 25%);
$white: #fff;

// Unicode Characters
$hamburger-icon: "\2630";

// Font Colors
$base-font-color: $mine-shaft;

// Colors In Use
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: $white;
$secondary-background-color: tint($base-border-color, 75%);
$code-background-color: $code-gray;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 250ms;
$base-timing: ease;

// Component details
$case-study-page-navigation-width: 50vw;

// Z-index
$z-index-highest: 100;
$z-index-below-content: -10;
