// Font families
$base-font-family: "Calibre", sans-serif;
$heading-font-family: "Averta", sans-serif;
$form-font-family: "Averta", sans-serif;
$table-font-family: "Averta", sans-serif;
$button-font-family: $heading-font-family;
$blockquote-font-family: "Charter", serif;
$code-font-family: "Inconsolata", sans-serif;
$reading-font-family: "Charter", serif;

// Font Sizes
$base-font-size: 1rem;
$small-font-size: 0.85rem;
$reading-font-size: 1.25rem;
$blockquote-font-size: 2.5rem;

// Font Weights
$reading-font-weight: 400;

// Line height
$base-line-height: 1.5;
$blockquote-line-height: 1.35;
$sky-label-line-height: 1.5;
$heading-line-height: 1.2;
$button-line-height: 2;
$reading-line-height: 1.6;

// Other Sizes
$base-border-radius: 3px;
$reading-paragraph-spacing: 1.5rem;
$base-z-index: 0;
$navigation-height: 8rem;
$navigation-height-mobile: 5rem;

// Spacing
$x-small-spacing: 0.5rem;
$small-spacing: 1rem;
$base-spacing: 1.5rem;
$medium-spacing: 2.25rem;
$large-spacing: 3rem;
$x-large-spacing: 6rem;
$xx-large-spacing: 9rem;

// Colors
$dark-grey: #121212;
$black: #000;
$code-gray: #f8f8f8;
$forest-green: #27c34c;
$light-gray: #cfcfcf;
$mirage: #181923;
$sun: #ffed2b;
$tutu: #fbe3e4;
$ultramarine-blue: #1246ff;
$white: #fff;
$warm-white: #fffaed;
$zicron: #e1e1e1;

// Colors In Use
$action-color: $ultramarine-blue;
$alert-color: $sun;
$base-background-color: $black;
$base-font-color: $warm-white;
$heading-font-color: $warm-white;
$blockquote-color: $base-font-color;
$button-background-color: $black;
$button-color: $white;
$code-background-color: lighten($base-background-color, 10%);
$error-color: $tutu;
$mark-color: $white;
$mark-highlight-color: darken($ultramarine-blue, 20%);
$notice-color: $forest-green;
$secondary-background-color: tint($light-gray, 75%);
$secondary-font-color: mix($base-font-color, $black, 50%);

// Unicode Characters
$hamburger-icon: "\2630";

// Animations
$base-duration: 250ms;
$base-timing: ease;

// Border
$base-border-color: darken($base-background-color, 15%);
$light-border-color: rgba($light-gray, 0.125);
$base-border: 1px solid $light-border-color;

// Forms
$input-background-color: lighten($base-background-color, 5%);
$input-padding: 1rem;
$sky-labels-animation-duration: $base-duration;
$sky-labels-color: $base-font-color;

// Component details
$case-study-page-navigation-width: 50vw;

// Z-index
$z-index-flashes: 2;
$z-index-highest: 1;
$z-index-below-content: -1;
