// Font families
$base-font-family: "Calibre", sans-serif;
$heading-font-family: "Averta", sans-serif;
$form-font-family: "Averta", sans-serif;
$button-font-family: $heading-font-family;
$blockquote-font-family: "Amethysta", serif;
$code-font-family: "Inconsolata", sans-serif;
$reading-font-family: "Noto Serif", serif;

// Font Sizes
$base-font-size: 1rem;
$small-font-size: 0.85rem;
$reading-font-size: 1.2rem;
$blockquote-font-size: 2.5rem;

// Font Weights
$reading-font-weight: 400;

// Line height
$base-line-height: 1.5;
$blockquote-line-height: 1.35;
$sky-label-line-height: 1.5;
$heading-line-height: 1.2;
$button-line-height: 2;
$reading-line-height: 1.9;

// Other Sizes
$base-border-radius: 3px;
$reading-paragraph-spacing: 1.5rem;
$base-z-index: 0;
$navigation-height: 8rem;
$navigation-height-mobile: 5rem;

// Spacing
$x-small-spacing: 0.5rem;
$small-spacing: 1rem;
$base-spacing: 1.5rem;
$large-spacing: 3rem;
$x-large-spacing: 6rem;

// Colors
$black: #000;
$blue: #341ef9;
$code-gray: #f8f8f8;
$forest-green: #27c34c;
$heart-red: #ff5687;
$light-gray: #cfcfcf;
$medium-gray: #999;
$mine-shaft: #383838;
$standard-blue: #255fec;
$sun: #ffed2b;
$tamed-blue: tint($blue, 25%);
$white: #fff;

// Colors In Use
$action-color: $blue;
$base-font-color: $black;
$blockquote-color: $mine-shaft;
$button-background-color: $mine-shaft;
$button-color: $white;
$alert-color: $sun;
$error-color: #fbe3e4;
$notice-color: $forest-green;
$mark-color: $base-font-color;
$mark-highlight-color: rgba($sun, 0.25);

// Unicode Characters
$hamburger-icon: "\2630";

// Animations
$base-duration: 750ms;
$base-timing: ease;

// Border
$base-border-color: $light-gray;
$light-border-color: rgba($light-gray, 0.125);
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: $white;
$secondary-background-color: tint($base-border-color, 75%);
$code-background-color: $code-gray;

// Forms
$input-background-color: #f6f6f6;
$input-padding: 1rem;
$sky-labels-animation-duration: $base-duration;
$sky-labels-color: $light-gray;

// Component details
$case-study-page-navigation-width: 50vw;

// Z-index
$z-index-highest: 100;
$z-index-below-content: -10;
